<div class="c-fixed-cta">
  <a class="c-fixed-cta__item" href="{{ site.cta.document }}" target="_blank" rel="noopener">
    <img src="/asset/img/share/2026/fixed-cv-icon01.png" alt="" width="32" height="32" loading="lazy">
    <span>資料請求</span>
  </a>
  <a class="c-fixed-cta__item" href="{{ site.cta.event }}">
    <img src="/asset/img/share/2026/fixed-cv-icon02.png" alt="" width="32" height="32" loading="lazy">
    <span>イベント<br>全日程一覧</span>
  </a>
  <a class="c-fixed-cta__item c-fixed-cta__item--ao" href="{{ site.cta.ao }}" target="_blank" rel="noopener">
    <span class="c-fixed-cta__ao">AO<br>エントリー</span>
  </a>
  <a class="c-fixed-cta__item" href="{{ site.cta.line }}" target="_blank" rel="noopener">
    <img src="/asset/img/share/2026/fixed-cv-icon03.png" alt="" width="32" height="32" loading="lazy">
    <span>LINEなんでも<br>相談</span>
  </a>
</div>
