<div class="l-rail l-rail--left" aria-hidden="true">
  <div class="l-rail__inner l-rail__inner--left">
    <img class="l-rail__watermark" src="/asset/img/share/2025/site-catch.png" alt="" width="380" height="240" loading="lazy">
  </div>
</div>
