---
layout: page.njk
title: 歯科衛生士｜キレイな笑顔に欠かせない口腔ケアのプロ
description: 歯科衛生士になるなら札幌看護医療専門学校！歯科衛生士のお仕事について詳しく紹介。仕事内容や将来性、実際に働いている先輩のインタビューも読めます。
breadcrumb: [{label: お仕事紹介, url: /special/}, {label: 歯科衛生士}]
bodyClass: p-special
pageCss: /asset/css/pages/special.css
permalink: /special/dentalhygienists/index.html
---
<div class="p-special__job" data-course="dentalhygienists">

  {#- MV -#}
  <section class="p-special__job-mv">
    <div class="p-special__job-mv-head" data-anim="fade-up">
      <h1 class="p-special__job-mv-ttl">
        <span class="p-special__job-mv-icon"><img src="/asset/img/special/dentalhygienists/2025/mv-icon.png" alt="" width="112" height="125"></span>
        <span class="p-special__job-mv-name">歯科衛生士</span>
      </h1>
      <p class="p-special__job-mv-catch">
        <span>キレイな笑顔に欠かせない</span>
        <span>口腔ケアのプロ</span>
        <span><b class="p-special__strong">「歯科衛生士」</b>の仕事。</span>
      </p>
    </div>
    <div class="p-special__job-mv-bg"><img src="/asset/img/special/dentalhygienists/2025/mv-bg.jpg" alt="" width="780" height="1000"></div>
  </section>

  {#- PICK UP -#}
  <section class="p-special__pickups">

    <div class="p-special__pickup" data-anim="fade-up">
      <p class="p-special__pickup-num"><img src="/asset/img/special/dentalhygienists/2025/pickup-num01.png" alt="PICK UP! 01" width="130" height="130" loading="lazy"></p>
      <h2 class="p-special__pickup-ttl"><span class="u-marker" data-marker>歯科衛生士</span>の3大業務</h2>
      <figure class="p-special__pickup-mainimg"><img src="/asset/img/special/dentalhygienists/2025/pickup01-img01.jpg" alt="" width="700" height="300" loading="lazy"></figure>
      <div class="p-special__pickup-inner">
        <ul class="p-special__pl p-special__pl--three" data-anim-group>
          <li data-anim="fade-up">
            <div class="p-special__pl-img"><img src="/asset/img/special/dentalhygienists/2025/pickup01-list01.jpg" alt="" width="180" height="180" loading="lazy"></div>
            <h3 class="p-special__pl-ttl">歯科予防措置</h3>
            <p class="p-special__pl-txt">歯にフッ素を塗布、歯石の除去を行い虫歯や歯周病を予防。</p>
          </li>
          <li data-anim="fade-up">
            <div class="p-special__pl-img"><img src="/asset/img/special/dentalhygienists/2025/pickup01-list02.jpg" alt="" width="180" height="180" loading="lazy"></div>
            <h3 class="p-special__pl-ttl">歯科診療補助</h3>
            <p class="p-special__pl-txt">診療器具の準備や消毒、歯型の採取や矯正装置の装着。</p>
          </li>
          <li data-anim="fade-up">
            <div class="p-special__pl-img"><img src="/asset/img/special/dentalhygienists/2025/pickup01-list03.jpg" alt="" width="180" height="180" loading="lazy"></div>
            <h3 class="p-special__pl-ttl">歯科保険指導</h3>
            <p class="p-special__pl-txt">学校や病院などで虫歯や歯周病予防のための歯磨き指導。</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="p-special__pickup" data-anim="fade-up">
      <p class="p-special__pickup-num"><img src="/asset/img/special/dentalhygienists/2025/pickup-num02.png" alt="PICK UP! 02" width="130" height="130" loading="lazy"></p>
      <h2 class="p-special__pickup-ttl"><span class="u-marker" data-marker>一生の仕事</span>にできる就職環境</h2>
      <div class="p-special__pickup-inner">
        <figure class="p-special__pickup-img"><img src="/asset/img/special/dentalhygienists/2025/pickup02-img01.jpg" alt="" width="610" height="400" loading="lazy"></figure>
        <p>結婚や出産・育児を経てライフスタイルに合わせた勤め方ができるため、<span class="p-special__strong">歯科衛生士と家事・育児の両立</span>が可能です。こうした就職環境により経験を重ねながら長く勤められるのも特長の一つです。</p>
      </div>
    </div>

    <div class="p-special__pickup" data-anim="fade-up">
      <p class="p-special__pickup-num"><img src="/asset/img/special/dentalhygienists/2025/pickup-num03.png" alt="PICK UP! 03" width="130" height="130" loading="lazy"></p>
      <h2 class="p-special__pickup-ttl"><span class="u-marker" data-marker>専門性の高い国家資格</span>です</h2>
      <div class="p-special__pickup-inner">
        <p>毎年受験者の<span class="p-special__strong">9割以上が合格</span>しており、しっかりと学べば資格取得は難しくありません。</p>
        <div class="p-special__graph">
          <figure class="p-special__graph-img"><img src="/asset/img/special/dentalhygienists/2025/pickup03-img01.png" alt="" width="610" height="295" loading="lazy"></figure>
          <p class="p-special__note">※第31回（令和4年）実施結果</p>
        </div>
      </div>
    </div>

    <div class="p-special__pickup" data-anim="fade-up">
      <p class="p-special__pickup-num"><img src="/asset/img/special/dentalhygienists/2025/pickup-num04.png" alt="PICK UP! 04" width="130" height="130" loading="lazy"></p>
      <h2 class="p-special__pickup-ttl"><span class="u-marker" data-marker>美容</span>と<span class="u-marker" data-marker>歯科診療</span></h2>
      <div class="p-special__pickup-inner">
        <p>現在の歯科業界では口元の美しさに焦点を当てた総合的な歯科医療も注目されており、「ホワイトニングコーディネーター」や「インプラント専門歯科衛生士」などの資格もあります。</p>
        <ul class="p-special__pl p-special__pl--two" data-anim-group>
          <li data-anim="fade-up">
            <div class="p-special__pl-illust"><img src="/asset/img/special/dentalhygienists/2025/pickup04-list01.png" alt="" width="166" height="167" loading="lazy"></div>
            <h3 class="p-special__pl-ttl">審美歯科</h3>
            <p class="p-special__pl-txt">主に”ホワイトニング”や”矯正治療”。歯の色を白くしたり、セラミックで歯並びをよくしたりする治療です。</p>
          </li>
          <li data-anim="fade-up">
            <div class="p-special__pl-illust"><img src="/asset/img/special/dentalhygienists/2025/pickup04-list02.png" alt="" width="166" height="167" loading="lazy"></div>
            <h3 class="p-special__pl-ttl">インプラント</h3>
            <p class="p-special__pl-txt">歯を抜いた際に、失った部分を補うための治療法の一つです。</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="p-special__pickup" data-anim="fade-up">
      <p class="p-special__pickup-num"><img src="/asset/img/special/dentalhygienists/2025/pickup-num05.png" alt="PICK UP! 05" width="130" height="130" loading="lazy"></p>
      <h2 class="p-special__pickup-ttl">歯科衛生士の<span class="u-marker" data-marker>今、そして未来</span></h2>
      <div class="p-special__pickup-inner">
        <p>現在、ケアや指導にあたる歯科衛生士は不足しており、<span class="p-special__strong">今後もニーズは高くなる</span>と言われています。</p>
        <figure class="p-special__pickup-img"><img src="/asset/img/special/dentalhygienists/2025/pickup05-img01.png" alt="" width="610" height="319" loading="lazy"></figure>
        <p class="p-special__note">※全国歯科衛生士教育協議会調べ</p>
      </div>
    </div>
  </section>

  {#- INTERVIEW -#}
  <section class="p-special__iv">
    <h2 class="p-special__iv-ttl" data-anim="fade-up">
      <span class="p-special__iv-icon"><img src="/asset/img/special/dentalhygienists/2025/interview-icon.png" alt="" width="50" height="58" loading="lazy"></span>
      <span class="p-special__iv-en">INTERVIEW</span>
    </h2>
    <p class="p-special__iv-lead" data-anim="fade-up">卒業生・在校生に聞いてみよう！</p>
    <div class="p-special__iv-head" data-anim="fade-up">
      <div class="p-special__iv-front">
        <p class="p-special__iv-prof"><small>2022年　歯科衛生士学科卒業</small><br>歯科衛生士</p>
        <p class="p-special__iv-name">濱松沙帆<small>さん</small></p>
        <div class="p-special__iv-img"><img src="/asset/img/special/dentalhygienists/2025/interview-head-img.png" alt="濱松沙帆さん" width="373" height="529" loading="lazy"></div>
      </div>
      <div class="p-special__iv-bg" aria-hidden="true"><img src="/asset/img/special/dentalhygienists/2025/interview-head-bg.png" alt="" width="487" height="488" loading="lazy"></div>
    </div>
    <div class="p-special__qa">
      <div class="p-special__qa-group" data-anim="fade-up">
        <p class="p-special__qa-q"><span class="p-special__qa-icon">Q1</span><span>現在、あなたが担当している業務の内容を教えてください。</span></p>
        <div class="p-special__qa-a"><p>歯科衛生士として一般歯科で患者さんへ虫歯、歯周病予防の為の歯磨き指導やホワイトニングを行っています。</p></div>
      </div>
      <div class="p-special__qa-group" data-anim="fade-up">
        <p class="p-special__qa-q"><span class="p-special__qa-icon">Q2</span><span>現在の業界・職種に就きたいと思うようになったのはいつからですか？</span></p>
        <div class="p-special__qa-a"><p>小学生の頃からです。</p></div>
      </div>
      <div class="p-special__qa-group" data-anim="fade-up">
        <p class="p-special__qa-q"><span class="p-special__qa-icon">Q3</span><span>どのようなきっかけや理由で、現在の業界・職種を選んだのですか？</span></p>
        <div class="p-special__qa-a"><p>小学生の頃に矯正をしに歯医者へ通っており、そちらの歯科衛生士の方の対応を見て、人と長い期間をかけて関係を築くことが出来て患者さんを笑顔にできるお仕事に興味があったため。</p></div>
      </div>
      <figure class="p-special__qa-img" data-anim="fade"><img src="/asset/img/special/dentalhygienists/2025/interview-img01.jpg" alt="" width="608" height="421" loading="lazy"></figure>
      <div class="p-special__qa-group" data-anim="fade-up">
        <p class="p-special__qa-q"><span class="p-special__qa-icon">Q4</span><span>勤務先の事業内容と勤務先の特徴は何ですか？</span></p>
        <div class="p-special__qa-a"><p>一般診療から矯正や医療ホワイトニングを行っており、「悪くなってから行く」ではなく「悪くなる前に行く」予防歯科を大切にしている歯科です。</p></div>
      </div>
      <div class="p-special__qa-group" data-anim="fade-up">
        <p class="p-special__qa-q"><span class="p-special__qa-icon">Q5</span><span>現在の勤務先を選んだ、1番の理由を選んでください。</span></p>
        <div class="p-special__qa-a"><p>研修・育成制度です。</p></div>
      </div>
      <div class="p-special__qa-group" data-anim="fade-up">
        <p class="p-special__qa-q"><span class="p-special__qa-icon">Q6</span><span>「何が魅力だったか」を答えてください。</span></p>
        <div class="p-special__qa-a"><p>就職しても勉強しなくてはいけない事が沢山ある中で、月に2回院内研修の時間が設けられており共通認識で様々な分野を学べるのと、入社して3ヶ月は先輩が付きっきりで御指導して下さるので分からないことはすぐに質問できたりと、学べる環境が整っていること。</p></div>
      </div>
      <div class="p-special__qa-group" data-anim="fade-up">
        <p class="p-special__qa-q"><span class="p-special__qa-icon">Q7</span><span>「仕事の大変さも吹き飛んでしまうくらい、やりがいを感じる！」という話やエピソードを教えてください。</span></p>
        <div class="p-special__qa-a"><p>担当した患者さんと歯のことだけでなく、何度もお会いしていくうちにプライベートの事までお話して下さるようになり、またあなたにお願いしたい！と言ってくださった時は、この仕事してて良かったと心から嬉しく思い、また頑張ろうという気持ちになります。</p></div>
      </div>
      <figure class="p-special__qa-img" data-anim="fade"><img src="/asset/img/special/dentalhygienists/2025/interview-img02.jpg" alt="" width="608" height="421" loading="lazy"></figure>
      <div class="p-special__qa-group" data-anim="fade-up">
        <p class="p-special__qa-q"><span class="p-special__qa-icon">Q8</span><span>あなたの仕事で大切なことや、普段仕事をする上で心がけていることは何ですか？</span></p>
        <div class="p-special__qa-a"><p>【コミュニケーション】を同僚や関係者間で意識しています。</p></div>
      </div>
      <div class="p-special__qa-group" data-anim="fade-up">
        <p class="p-special__qa-q"><span class="p-special__qa-icon">Q9</span><span>なぜそれがあなたの仕事で大切なのですか？</span></p>
        <div class="p-special__qa-a"><p>歯科にも様々な症例があり、まだ体験したことの無い事を先輩や先生方から共有して貰えることで知識としても1つ成長出来るからです。</p></div>
      </div>
      <div class="p-special__qa-group" data-anim="fade-up">
        <p class="p-special__qa-q"><span class="p-special__qa-icon">Q10</span><span>あなたが具体的に日頃やっていることを教えてください。</span></p>
        <div class="p-special__qa-a"><p>同期の子もそうですが、空き時間などに以前担当した患者さんについての疑問点や患者さんに対する伝え方のフィードバックももらい、改善点を考え導き出すことで日々の成長に繋げています。</p></div>
      </div>
      <div class="p-special__qa-group" data-anim="fade-up">
        <p class="p-special__qa-q"><span class="p-special__qa-icon">Q11</span><span>仕事上で今後チャレンジしたいことは何ですか？また、その夢に向かって今取り組んでいることも教えてください。</span></p>
        <div class="p-special__qa-a"><p>当院はホワイトエッセンスの加盟店です。セラピストとしてゴールド等級を頂けるような質の高い施術やカウンセリングを提供出来るように、今後は技術面を更に磨いていきたいです。</p></div>
      </div>
      <figure class="p-special__qa-img" data-anim="fade"><img src="/asset/img/special/dentalhygienists/2025/interview-img03.jpg" alt="" width="608" height="417" loading="lazy"></figure>
    </div>
  </section>
</div>
