---
layout: page.njk
title: 視能訓練士｜眼科診療・視機能検査を支える視能訓練士
description: 視能訓練士になるなら【国試合格率100％】の札幌看護医療専門学校！視能訓練士のお仕事について詳しく紹介。仕事内容や将来性、実際に働いている先輩のインタビューも読めます。
breadcrumb: [{label: お仕事紹介, url: /special/}, {label: 視能訓練士}]
bodyClass: p-special
pageCss: /asset/css/pages/special.css
permalink: /special/orthoptist/index.html
---
<div class="p-special__job" data-course="orthoptist">

  {#- MV -#}
  <section class="p-special__job-mv">
    <div class="p-special__job-mv-head" data-anim="fade-up">
      <h1 class="p-special__job-mv-ttl">
        <span class="p-special__job-mv-icon"><img src="/asset/img/special/orthoptist/2025/mv-icon.png" alt="" width="120" height="123"></span>
        <span class="p-special__job-mv-name">視能訓練士</span>
      </h1>
      <p class="p-special__job-mv-catch">
        <span>眼科診療のスタート地点で活躍。</span>
        <span>クリニックに欠かせない</span>
        <span><b class="p-special__strong">「視能訓練士」</b>の仕事とは。</span>
      </p>
    </div>
    <div class="p-special__job-mv-bg"><img src="/asset/img/special/orthoptist/2025/mv-bg.jpg" alt="" width="780" height="1000"></div>
  </section>

  {#- PICK UP -#}
  <section class="p-special__pickups">

    <div class="p-special__pickup" data-anim="fade-up">
      <p class="p-special__pickup-num"><img src="/asset/img/special/orthoptist/2025/pickup-num01.png" alt="PICK UP! 01" width="130" height="130" loading="lazy"></p>
      <h2 class="p-special__pickup-ttl"><span class="u-marker" data-marker>視能訓練士</span>の仕事</h2>
      <figure class="p-special__pickup-mainimg"><img src="/asset/img/special/orthoptist/2025/pickup01-img01.jpg" alt="" width="700" height="300" loading="lazy"></figure>
      <div class="p-special__pickup-inner">
        <p>視力や視野に問題があっても、患者さんの眼の外見からは分からないことがほとんどです。<br>そこで視能訓練士が測定機器を使って眼の機能を詳しく調べ、様々なデータをとります。これらのデータをもとに眼科医が患者さんの診断・治療にあたるわけです。<br>つまり、<span class="p-special__strong">眼科診療のスタート地点にあるのが視能訓練士の仕事</span>です。また弱視や斜視の人に視力を回復するための訓練を施すのも重要な役割です。</p>
        <ul class="p-special__pl" data-anim-group>
          <li data-anim="fade-up">
            <div class="p-special__pl-img"><img src="/asset/img/special/orthoptist/2025/pickup01-list01.jpg" alt="" width="180" height="180" loading="lazy"></div>
            <h3 class="p-special__pl-ttl">視機能検査</h3>
            <p class="p-special__pl-txt">視力や視野、眼底や角膜形状など眼の機能を調べる。</p>
          </li>
          <li data-anim="fade-up">
            <div class="p-special__pl-img"><img src="/asset/img/special/orthoptist/2025/pickup01-list02.jpg" alt="" width="180" height="180" loading="lazy"></div>
            <h3 class="p-special__pl-ttl">視能矯正</h3>
            <p class="p-special__pl-txt">弱視や斜視などの患者に視力機能回復の訓練・検査を施す。</p>
          </li>
          <li data-anim="fade-up">
            <div class="p-special__pl-img"><img src="/asset/img/special/orthoptist/2025/pickup01-list03.jpg" alt="" width="180" height="180" loading="lazy"></div>
            <h3 class="p-special__pl-ttl">リハビリ指導</h3>
            <p class="p-special__pl-txt">高齢者や視機能が回復しない人に補助具の選定、使い方を指導する。</p>
          </li>
          <li data-anim="fade-up">
            <div class="p-special__pl-img"><img src="/asset/img/special/orthoptist/2025/pickup01-list04.jpg" alt="" width="180" height="180" loading="lazy"></div>
            <h3 class="p-special__pl-ttl">健診業務</h3>
            <p class="p-special__pl-txt">視能の以上を早期発見するための眼の健康診断をサポートする。</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="p-special__pickup" data-anim="fade-up">
      <p class="p-special__pickup-num"><img src="/asset/img/special/orthoptist/2025/pickup-num02.png" alt="PICK UP! 02" width="130" height="130" loading="lazy"></p>
      <h2 class="p-special__pickup-ttl">視能訓練士の<span class="u-marker" data-marker>今、そして未来</span></h2>
      <div class="p-special__pickup-inner">
        <p>年を重ねるにつれて、ものを見る機能は衰え、白内障をはじめとする眼の病気も生じやすくなります。そのため高齢社会の日本では、視機能に障害をもつ人がお年寄りを中心に増えています。<br>視機能障害のために行動範囲が狭くなったり、介助が必要になったりすれば、患者やその家族の生活は大きな変化を余儀なくされます。<span class="p-special__strong">目の異常の早期発見と視機能回復のリハビリ指導などによって、こうした現状に歯止めをかけることが可能です。</span><br>眼科医療での視能訓練士の活躍が、今後ますます期待されます。</p>
      </div>
    </div>

    <div class="p-special__pickup" data-anim="fade-up">
      <p class="p-special__pickup-num"><img src="/asset/img/special/orthoptist/2025/pickup-num03.png" alt="PICK UP! 03" width="130" height="130" loading="lazy"></p>
      <h2 class="p-special__pickup-ttl"><span class="u-marker" data-marker>専門性の高い国家資格</span>です</h2>
      <div class="p-special__pickup-inner">
        <p>視機能検査や視機能回復訓練には、眼科の知識と高度な機器を用いた的確な計測技術が不可欠です。したがって、ほとんどの眼科医療機関では、専門の知識・技能を身につけた<span class="p-special__strong">「視能訓練士の資格取得者」であること</span>を採用の条件としています。<br>国家試験は毎年1回、2月に東京都および大阪府で実施されます。例年の合格率は90％前後です。</p>
        <div class="p-special__graph">
          <p class="p-special__graph-ttl">視能訓練士の国家試験合格率推移 <small>2012-2024</small></p>
          <figure class="p-special__graph-img"><img src="/asset/img/special/orthoptist/2025/pickup03-img01.png" alt="" width="608" height="271" loading="lazy"></figure>
          <p class="p-special__note">※参考：全国視能訓練士学校協会事務局より</p>
        </div>
      </div>
    </div>

    <div class="p-special__pickup" data-anim="fade-up">
      <p class="p-special__pickup-num"><img src="/asset/img/special/orthoptist/2025/pickup-num04.png" alt="PICK UP! 04" width="130" height="130" loading="lazy"></p>
      <h2 class="p-special__pickup-ttl"><span class="u-marker" data-marker>就職先</span>と<span class="u-marker" data-marker>活躍のフィールド</span></h2>
      <div class="p-special__pickup-inner">
        <p>「視能訓練士」の有資格者は、<span class="p-special__strong">眼科医院や眼科がある総合病院</span>への就職がほとんどです。<br>この他、近年ではレーシッククリニックで働く視能訓練士もいます。</p>
        <figure class="p-special__pickup-img"><img src="/asset/img/special/orthoptist/2025/pickup04-img01.jpg" alt="" width="610" height="400" loading="lazy"></figure>
      </div>
    </div>

    <div class="p-special__pickup" data-anim="fade-up">
      <p class="p-special__pickup-num"><img src="/asset/img/special/orthoptist/2025/pickup-num05.png" alt="PICK UP! 05" width="130" height="130" loading="lazy"></p>
      <h2 class="p-special__pickup-ttl">職業データ</h2>
      <div class="p-special__pickup-inner">
        <table class="p-special__table">
          <tbody>
            <tr>
              <th>勤務日数</th>
              <td>5日/週</td>
            </tr>
            <tr>
              <th>収入</th>
              <td>年収407万円程度<br><small>（私立眼科病院）</small></td>
            </tr>
            <tr>
              <th>勤務年数</th>
              <td>5年未満：33.5%<br>
                10年未満：24.3%<br>
                15年未満：15%<br>
                20年未満：11.4%<br>
                25年未満：4.9%<br>
                40年未満：0.3%<br>
                40年以上：6.8%</td>
            </tr>
            <tr>
              <th>男女比</th>
              <td>14.1（男性）：85.7（女性）</td>
            </tr>
          </tbody>
        </table>
        <p class="p-special__note">※日本視能訓練士協会「視能訓練士実態調査報告書 2022」より</p>
      </div>
    </div>

    <div class="p-special__pickup" data-anim="fade-up">
      <p class="p-special__pickup-num"><img src="/asset/img/special/orthoptist/2025/pickup-num06.png" alt="PICK UP! 06" width="130" height="130" loading="lazy"></p>
      <h2 class="p-special__pickup-ttl"><span class="u-marker" data-marker>長く、柔軟に</span>働けます。</h2>
      <div class="p-special__pickup-inner">
        <figure class="p-special__pickup-img"><img src="/asset/img/special/orthoptist/2025/pickup06-img01.jpg" alt="" width="610" height="392" loading="lazy"></figure>
        <p>ある調査※によると「現在の職場で仕事を続けたい」と思う視能訓練士は<span class="p-special__strong">56.5%</span>にも上ります。医療職でありながら<span class="p-special__strong">「夜勤や当直が無い」「年齢に関係なく働き続けることができる」</span>のが、その大きな理由と考えられます。<br>同じ調査によると、視能訓練士の多くは正規雇用ですが、女性の場合、全体の2割ほどがパートタイムや非常勤で勤務しています。家庭や育児との両立も図りやすい職種のようです。</p>
        <p class="p-special__note">※公益社団法人 日本視能訓練士協会「視能訓練士実態調査報告書2020年」より</p>
      </div>
    </div>
  </section>

  {#- INTERVIEW -#}
  <section class="p-special__iv">
    <h2 class="p-special__iv-ttl" data-anim="fade-up">
      <span class="p-special__iv-icon"><img src="/asset/img/special/orthoptist/2025/interview-icon.png" alt="" width="50" height="58" loading="lazy"></span>
      <span class="p-special__iv-en">INTERVIEW</span>
    </h2>
    <p class="p-special__iv-lead" data-anim="fade-up">卒業生・在校生に聞いてみよう！</p>
    <div class="p-special__iv-head" data-anim="fade-up">
      <div class="p-special__iv-front">
        <p class="p-special__iv-prof"><small>2023年　視能訓練技師学科卒業</small><br>視能訓練士</p>
        <p class="p-special__iv-name">澤田安里<small>さん</small></p>
        <div class="p-special__iv-img"><img src="/asset/img/special/orthoptist/2025/interview-head-img.png" alt="澤田安里さん" width="373" height="540" loading="lazy"></div>
      </div>
      <div class="p-special__iv-bg" aria-hidden="true"><img src="/asset/img/special/orthoptist/2025/interview-head-bg.png" alt="" width="487" height="488" loading="lazy"></div>
    </div>
    <div class="p-special__qa">
      <div class="p-special__qa-group" data-anim="fade-up">
        <p class="p-special__qa-q"><span class="p-special__qa-icon">Q1</span><span>現在、あなたが担当している業務の内容を教えてください。</span></p>
        <div class="p-special__qa-a"><p>視能訓練士として、眼科で患者様の視力検査や眼圧検査など様々な検査を行っています。</p></div>
      </div>
      <div class="p-special__qa-group" data-anim="fade-up">
        <p class="p-special__qa-q"><span class="p-special__qa-icon">Q2</span><span>現在の業界・職種に就きたいと思うようになったのはいつからですか？</span></p>
        <div class="p-special__qa-a"><p>高校2年生の頃からです。</p></div>
      </div>
      <div class="p-special__qa-group" data-anim="fade-up">
        <p class="p-special__qa-q"><span class="p-special__qa-icon">Q3</span><span>どのようなきっかけや理由で、現在の業界・職種を選んだのですか？</span></p>
        <div class="p-special__qa-a"><p>私は普段から眼鏡を掛けて生活しており、見え方に不自由していませんでした。しかし、コンタクトレンズを初めて使ったとき、度数が合わず大変に見えにくい状態でした。その際、見えにくい事が非常に不安になること、見えるということが当たり前でないことを身を持って実感しました。そのため、視能訓練士を選びました。</p></div>
      </div>
      <figure class="p-special__qa-img" data-anim="fade"><img src="/asset/img/special/orthoptist/2025/interview-img01.jpg" alt="" width="608" height="421" loading="lazy"></figure>
      <div class="p-special__qa-group" data-anim="fade-up">
        <p class="p-special__qa-q"><span class="p-special__qa-icon">Q4</span><span>勤務先の事業内容と勤務先の特徴は何ですか？</span></p>
        <div class="p-special__qa-a"><p>数多くの眼科医とスタッフで、幅広い眼科診療を行っています。</p></div>
      </div>
      <div class="p-special__qa-group" data-anim="fade-up">
        <p class="p-special__qa-q"><span class="p-special__qa-icon">Q5</span><span>現在の勤務先を選んだ、1番の理由を選んでください。</span></p>
        <div class="p-special__qa-a"><p>研修や育成制度です。</p></div>
      </div>
      <div class="p-special__qa-group" data-anim="fade-up">
        <p class="p-special__qa-q"><span class="p-special__qa-icon">Q6</span><span>「何が魅力だったか」を答えてください。</span></p>
        <div class="p-special__qa-a"><p>様々な検査を行っており、また経験豊富な先輩方がいるため、視能訓練士としての基礎をしっかりと築けると思ったためです。</p></div>
      </div>
      <div class="p-special__qa-group" data-anim="fade-up">
        <p class="p-special__qa-q"><span class="p-special__qa-icon">Q7</span><span>「仕事の大変さも吹き飛んでしまうくらい、やりがいを感じる！」という話やエピソードを教えてください。</span></p>
        <div class="p-special__qa-a"><p>眼鏡合わせでは、患者様とお話しながら、今の眼鏡で不便なところを知り、求めている眼鏡に近づくように度数を合わせていきます。患者様の意図を汲み取りながら調整し、今までの眼鏡よりもとても見やすくなった、とても良いと笑顔で言って貰えた時、とても嬉しいです。お役に立てたんだと実感し、ホッとします。</p></div>
      </div>
      <figure class="p-special__qa-img" data-anim="fade"><img src="/asset/img/special/orthoptist/2025/interview-img02.jpg" alt="" width="608" height="421" loading="lazy"></figure>
      <div class="p-special__qa-group" data-anim="fade-up">
        <p class="p-special__qa-q"><span class="p-special__qa-icon">Q8</span><span>あなたの仕事で大切なことや、普段仕事をする上で心がけていることは何ですか？</span></p>
        <div class="p-special__qa-a"><p>【技術の向上・修練】を日ごろから意識しています。</p></div>
      </div>
      <div class="p-special__qa-group" data-anim="fade-up">
        <p class="p-special__qa-q"><span class="p-special__qa-icon">Q9</span><span>なぜそれがあなたの仕事で大切なのですか？</span></p>
        <div class="p-special__qa-a"><p>新人なので、早く一人前になって患者様にも、病院にも貢献できるようになりたいからです。</p></div>
      </div>
      <div class="p-special__qa-group" data-anim="fade-up">
        <p class="p-special__qa-q"><span class="p-special__qa-icon">Q10</span><span>あなたが具体的に日頃やっていることを教えてください。</span></p>
        <div class="p-special__qa-a"><p>同期のスタッフと一緒に、より円滑に検査を進められるように練習しています。<br>また、一日を振り返って、「こういう時はどうする？」などと相談することもあります。</p></div>
      </div>
      <div class="p-special__qa-group" data-anim="fade-up">
        <p class="p-special__qa-q"><span class="p-special__qa-icon">Q11</span><span>仕事上で今後チャレンジしたいことは何ですか？また、その夢に向かって今取り組んでいることも教えてください。</span></p>
        <div class="p-special__qa-a"><p>いつかは、実習生に指導することができるように、様々な知識を増やして行きたいです。</p></div>
      </div>
      <figure class="p-special__qa-img" data-anim="fade"><img src="/asset/img/special/orthoptist/2025/interview-img03.jpg" alt="" width="608" height="421" loading="lazy"></figure>
    </div>
  </section>
</div>
