---
layout: page.njk
title: "在校生トーク【わたしの進む道】①"
description: "【看護師・視能訓練士・歯科衛生士・臨床工学技士】医療系に進むなら札幌看護医療専門学校！充実の設備×駅近×ICT教育で新たな医療を学ぶ。学校行事や学科のブログです。"
breadcrumb: [{label: ブログ, url: /blog/}, {label: "在校生トーク【わたしの進む道】①"}]
bodyClass: p-blogart
pageCss: /asset/css/pages/blog-article.css
permalink: /blog/2022/6530/index.html
---
<article class="p-blogart">
  <header class="p-blogart__head" data-anim="fade-up">
    <div class="p-blogart__meta">
      <time class="p-blogart__date" datetime="2022-04-22">2022.04.22</time>
      <ul class="p-blogart__labels"><li><span class="p-blogart__label" data-cat="nursing">看護学科</span></li><li><span class="p-blogart__label" data-cat="students">在校生紹介</span></li></ul>
    </div>
    <h1 class="p-blogart__ttl">在校生トーク【わたしの進む道】①</h1>
    <figure class="p-blogart__eyecatch"><img src="/asset/img/uploads/2022/04/0005.png" alt="" width="822" height="576" loading="lazy"></figure>
  </header>
  <div class="p-blogart__body">
{% raw %}
<h3>◯看護師を目指したキッカケ</h3>
<p>人の役に立つ仕事をしたくて、1番に思いついたのが看護師でした。<br />
お姉ちゃんや叔母さんなど、身近に看護師をしている人がたくさんいたので、将来がイメージしやすかったのもあり、自然と看護師を目指すようになりました。</p>
<p><img src="/asset/img/uploads/2022/04/0002.png" alt="" width="822" height="576" loading="lazy"></p>
<h3>◯札幌看護医療にした理由</h3>
<p>1番惹かれたのは、実習の多さでした。<br />
実際の 医療現場で学べる時間が多いことは、本当に魅力的だと思ったのと、オープンキャンパスの雰囲気がすごく良くて決めました。<br />
でも実は、色々な学科があるから、医療職を目指す友だちがたくさん出来て楽しそうだなと思ったのも大きかったです。<br />
3校比較して決めました！</p>
<h3>◯１年生を終えての感想</h3>
<p>正直、勉強は大変でした。。。<br />
テスト前は友だちと一緒に励ましあって、夜中に連絡を取り合って寝ないように助け合ったりもしていました（笑）<br />
それも含めて、充実した毎日でした！</p>
<p><img src="/asset/img/uploads/2022/04/0003-600x424.png" alt="" width="600" height="424" loading="lazy"></p>
<h3>◯これから楽しみなこと</h3>
<p>1年生より、もっと深く看護について学べるのが楽しみです！<br />
看護の中でもいろんな分野に触れていくことが出来るので、勉強頑張ります！</p>
<p><img src="/asset/img/uploads/2022/04/0001.png" alt="" height="200" loading="lazy"></p>
{% endraw %}
  </div>
  <p class="p-blogart__back" data-anim="fade"><a href="/blog/" class="c-btn c-btn--yellow c-btn--arrow">ブログ一覧へ戻る</a></p>
</article>
