---
layout: page.njk
title: "在校生トーク【わたしの進む道】②"
description: "【看護師・視能訓練士・歯科衛生士・臨床工学技士】医療系に進むなら札幌看護医療専門学校！充実の設備×駅近×ICT教育で新たな医療を学ぶ。学校行事や学科のブログです。"
breadcrumb: [{label: ブログ, url: /blog/}, {label: "在校生トーク【わたしの進む道】②"}]
bodyClass: p-blogart
pageCss: /asset/css/pages/blog-article.css
permalink: /blog/2022/6582/index.html
---
<article class="p-blogart">
  <header class="p-blogart__head" data-anim="fade-up">
    <div class="p-blogart__meta">
      <time class="p-blogart__date" datetime="2022-04-28">2022.04.28</time>
      <ul class="p-blogart__labels"><li><span class="p-blogart__label" data-cat="orthoptist">視能訓練士学科</span></li><li><span class="p-blogart__label" data-cat="students">在校生紹介</span></li></ul>
    </div>
    <h1 class="p-blogart__ttl">在校生トーク【わたしの進む道】②</h1>
    <figure class="p-blogart__eyecatch"><img src="/asset/img/uploads/2022/04/eb50698bfde81d02629bbd02850abecc.png" alt="" width="822" height="576" loading="lazy"></figure>
  </header>
  <div class="p-blogart__body">
{% raw %}
<h3>◯視能訓練士を目指したキッカケ</h3>
<p>小学生の頃から、眼科に通っていました。<br />
そこで視能訓練士の方がさまざまな道具や器械を使用して検査をしていて、私も眼の病気で苦しんでいる人を助けたいと思うようになりました。<br />
医療の専門職であること、ICTの発展に伴った病気も増加すると考え、今後の需要ややりがいを感じられると思い、この仕事を目指しました。</p>
<p><img src="/asset/img/uploads/2022/04/1-600x424.png" alt="" width="600" height="424" loading="lazy"></p>
<h3>◯札幌看護医療にした理由</h3>
<p>道内初の養成校で、卒業生がたくさんいて実績があるのが1番の決め手です。<br />
また、道内初の新しい器械を導入しているため、臨床現場で求められるスキルを習得できると思いました。<br />
高3の夏にオープンキャンパスに参加して決めました！</p>
<h3>◯１年生を終えての感想</h3>
<p>はじめて学ぶ専門分野や実習で不安ばかりでしたが、友だちや先輩のおかげで楽しく学校生活を送ることが出来ました！</p>
<p><img src="/asset/img/uploads/2022/04/2-600x424.png" alt="" width="600" height="424" loading="lazy"></p>
<h3>◯これから楽しみなこと</h3>
<p>国内研修旅行です！<br />
研修を通して、医療従事者としての意識を高めると同時に視能訓練士として、大切なコミュニケーション能力も高めていきたいです！</p>
<p><img src="/asset/img/uploads/2022/04/3.png" alt="" width="718" height="785" loading="lazy"></p>
{% endraw %}
  </div>
  <p class="p-blogart__back" data-anim="fade"><a href="/blog/" class="c-btn c-btn--yellow c-btn--arrow">ブログ一覧へ戻る</a></p>
</article>
