---
layout: page.njk
title: "在校生トーク【わたしの進む道】③"
description: "【看護師・視能訓練士・歯科衛生士・臨床工学技士】医療系に進むなら札幌看護医療専門学校！充実の設備×駅近×ICT教育で新たな医療を学ぶ。学校行事や学科のブログです。"
breadcrumb: [{label: ブログ, url: /blog/}, {label: "在校生トーク【わたしの進む道】③"}]
bodyClass: p-blogart
pageCss: /asset/css/pages/blog-article.css
permalink: /blog/2022/6687/index.html
---
<article class="p-blogart">
  <header class="p-blogart__head" data-anim="fade-up">
    <div class="p-blogart__meta">
      <time class="p-blogart__date" datetime="2022-05-13">2022.05.13</time>
      <ul class="p-blogart__labels"><li><span class="p-blogart__label" data-cat="dentalhygienists">歯科衛生士学科</span></li><li><span class="p-blogart__label" data-cat="students">在校生紹介</span></li></ul>
    </div>
    <h1 class="p-blogart__ttl">在校生トーク【わたしの進む道】③</h1>
  </header>
  <div class="p-blogart__body">
{% raw %}
<h3>◯歯科衛生士を目指したキッカケ</h3>
<p>C-POPが好きで、大学に行って中国留学に行こうとも考えていましたが、コロナ禍でそれも厳しくなり進路を考えていました。<br />
歯を磨きながら進路を考えていたら、「歯科衛生士になろう！」と思ってすぐに調べました。</p>
<p><img src="/asset/img/uploads/2022/05/3-600x424.png" alt="" width="600" height="424" class="alignnone size-medium wp-image-6690" /></p>
<h3>◯札幌看護医療にした理由</h3>
<p>入学案内を読んでいて、オープンキャンパスに行ってみたいと思い、実際に行ってみて雰囲気が良かったこと、審美歯科を学べる道内唯一の専門学校で、より歯がキレイになれると思ったからです！<br />
就職先は審美歯科が気になっていましたが、色々な話を聞くうちに口腔外科も気になっています！</p>
<h3>◯１年生を終えての感想</h3>
<p>勉強が大変でしたが、最後まで諦めずに勉強したらテストもクリア出来て、無事に進級できたので2年生が楽しみです！<br />
特に解剖学の先生が好きで、授業がわかりやすくて飽きない工夫をしてくれています。授業は毎日が楽しいわけではないですが（笑）たくさん友だちが出来て、友だちといるだけで幸せです！</p>
<p><img src="/asset/img/uploads/2022/05/2.png" width="600" alt="" class="alignnone size-medium wp-image-6689" /></p>
<h3>◯これから楽しみなこと</h3>
<p>国内研修です！<br />
ミュゼホワイトニングとのコラボ研修やみんなとディズニーに行くことも楽しみです。</p>
<p><img src="/asset/img/uploads/2022/05/4-600x424.png" alt="" width="600" height="424" class="alignnone size-medium wp-image-6691" /></p>
            </div>
        </article>
        

                <div class="aside-container">
            <aside>
                <h2 class="aside-ttl">関連記事</h2>
                <nav>
{% endraw %}
  </div>
  <p class="p-blogart__back"><a href="/blog/" class="c-btn c-btn--yellow c-btn--arrow">ブログ一覧へ戻る</a></p>
</article>
