---
layout: page.njk
title: "在校生トーク【わたしの進む道】④"
description: "【看護師・視能訓練士・歯科衛生士・臨床工学技士】医療系に進むなら札幌看護医療専門学校！充実の設備×駅近×ICT教育で新たな医療を学ぶ。学校行事や学科のブログです。"
breadcrumb: [{label: ブログ, url: /blog/}, {label: "在校生トーク【わたしの進む道】④"}]
bodyClass: p-blogart
pageCss: /asset/css/pages/blog-article.css
permalink: /blog/2022/6694/index.html
---
<article class="p-blogart">
  <header class="p-blogart__head" data-anim="fade-up">
    <div class="p-blogart__meta">
      <time class="p-blogart__date" datetime="2022-05-23">2022.05.23</time>
      <ul class="p-blogart__labels"><li><span class="p-blogart__label" data-cat="clinicalengineer">臨床工学技士学科</span></li><li><span class="p-blogart__label" data-cat="students">在校生紹介</span></li></ul>
    </div>
    <h1 class="p-blogart__ttl">在校生トーク【わたしの進む道】④</h1>
    <figure class="p-blogart__eyecatch"><img src="/asset/img/uploads/2022/05/1-1.png" alt="" width="822" height="576" loading="lazy"></figure>
  </header>
  <div class="p-blogart__body">
{% raw %}
<h3>◯臨床工学技士を目指したキッカケ</h3>
<p>好きなゲームを仕事にしようとも考えましたが、親が病院で働いていて臨床工学技士について色々教えてくれたんです。<br />
医療機器を専門に扱う仕事だと知り、興味を持ったのがキッカケです。</p>
<p><img src="/asset/img/uploads/2022/05/2-1.png" alt="" width="600" loading="lazy"></p>
<h3>◯札幌看護医療にした理由</h3>
<p>オープンキャンパスに参加した時に学校の雰囲気も良く、豊富な医療機器が揃っていて、ここなら自分が目指す周りから頼られる臨床工学技士を目指せると思いました。あと単純に新札幌が住みやすいなーって思いました^ ^ 実際、住みやすいです。</p>
<h3>◯１年生を終えての感想</h3>
<p>はじめての1人暮らし、はじめて学ぶ分野にかなり苦戦しました。<br />
友だちと一緒に昼ごはんを食べたり（大抵、コンビニのパンかおにぎり）休み時間にそれぞれ好きなゲームをしながら、喋っている感じがとても居心地が良いです。</p>
<p><img src="/asset/img/uploads/2022/05/3-1.png" alt="" width="600" loading="lazy"></p>
<h3>◯これから楽しみなこと</h3>
<p>原神・ドラゴンレジェンズです！<br />
一緒にするゲーム仲間募集中です！笑</p>
<p><img src="/asset/img/uploads/2022/05/4-1.png" alt="" height="424" loading="lazy"></p>
{% endraw %}
  </div>
  <p class="p-blogart__back" data-anim="fade"><a href="/blog/" class="c-btn c-btn--yellow c-btn--arrow">ブログ一覧へ戻る</a></p>
</article>
