---
layout: page.njk
title: ブログ
description: 【看護師・視能訓練士・歯科衛生士・臨床工学技士】医療系に進むなら札幌看護医療専門学校！充実の設備×駅近×ICT教育で新たな医療を学ぶ。ブログ一覧です。
breadcrumb: [{label: ブログ}]
bodyClass: p-other p-other-blog
pageCss: /asset/css/pages/other.css
permalink: /blog/index.html
---
{#- ページMV -#}
<section class="p-other__mv">
  <div class="p-other__mv-bg"><img src="/asset/img/blog/2025/mv.jpg" alt="" width="740" height="330"></div>
  <h1 class="p-other__mv-title">
    <span class="text-wrap">
      <span class="en">BLOG</span>
      <span class="ja">ブログ</span>
    </span>
  </h1>
</section>

<div class="p-other__body">
  <section class="p-other__box">
    <h2 class="p-other__ttl" data-anim="fade-up">最新記事一覧</h2>
    {%- set articles = [
      {url: "/blog/2026/19180/", date: "2026-07-22", dateLabel: "2026.07.22", labels: [{cat: "other", name: "その他"}], title: "東北から北海道へ進学を考えている高校生へ　～意外と近いぞ北海道！～"},
      {url: "/blog/2026/18991/", date: "2026-07-01", dateLabel: "2026.07.01", labels: [{cat: "all_depts", name: "全学科"}, {cat: "events", name: "学校行事"}], title: "2026学園祭～ウェルネスフェス～"},
      {url: "/blog/2026/18915/", date: "2026-06-26", dateLabel: "2026.06.26", labels: [{cat: "nursing", name: "看護学科"}, {cat: "session", name: "授業の様子"}, {cat: "students", name: "在校生紹介"}], title: "わたしの進む道〜看護学科編〜"},
      {url: "/blog/2026/18866/", date: "2026-06-22", dateLabel: "2026.06.22", labels: [{cat: "nursing", name: "看護学科"}, {cat: "session", name: "授業の様子"}, {cat: "students", name: "在校生紹介"}], title: "わたしの進む道〜看護学科編〜"},
      {url: "/blog/2026/18859/", date: "2026-06-22", dateLabel: "2026.06.22", labels: [{cat: "dentalhygienists", name: "歯科衛生士学科"}, {cat: "session", name: "授業の様子"}, {cat: "students", name: "在校生紹介"}], title: "わたしの進む道〜歯科衛生士学科編〜"},
      {url: "/blog/2026/18852/", date: "2026-06-22", dateLabel: "2026.06.22", labels: [{cat: "clinicalengineer", name: "臨床工学技士学科"}, {cat: "session", name: "授業の様子"}, {cat: "students", name: "在校生紹介"}], title: "わたしの進む道〜臨床工学技士学科編〜"},
      {url: "/blog/2026/18844/", date: "2026-06-22", dateLabel: "2026.06.22", labels: [{cat: "orthoptist", name: "視能訓練士学科"}, {cat: "session", name: "授業の様子"}, {cat: "students", name: "在校生紹介"}], title: "わたしの進む道〜視能訓練士学科編〜"},
      {url: "/blog/2026/18671/", date: "2026-06-04", dateLabel: "2026.06.04", labels: [{cat: "orthoptist", name: "視能訓練士学科"}, {cat: "occupation", name: "職業紹介"}], title: "「視能訓練士＋医療事務」で広がる将来の選択肢！"},
      {url: "/blog/2026/18576/", date: "2026-05-25", dateLabel: "2026.05.25", labels: [{cat: "clinicalengineer", name: "臨床工学技士学科"}, {cat: "session", name: "授業の様子"}, {cat: "events", name: "学校行事"}], title: "臨床工学技士学科3年生がいよいよ臨床実習へ✨～臨床実習激励式～"},
      {url: "/blog/2026/18216/", date: "2026-04-21", dateLabel: "2026.04.21", labels: [{cat: "all_depts", name: "全学科"}, {cat: "session", name: "授業の様子"}, {cat: "events", name: "学校行事"}], title: "2026年度4学科合同ワークショップ✨"}
    ] -%}
    <ul class="p-other__articles" data-anim-group>
      {%- for a in articles %}
      <li data-anim="fade-up">
        <a href="{{ a.url }}" target="_blank" rel="noopener">
          <time class="p-other__article-date" datetime="{{ a.date }}">{{ a.dateLabel }}</time>
          <ul class="p-other__labels">
            {%- for l in a.labels %}
            <li><span class="p-other__label" data-cat="{{ l.cat }}">{{ l.name }}</span></li>
            {%- endfor %}
          </ul>
          <p class="p-other__article-ttl">{{ a.title }}</p>
        </a>
      </li>
      {%- endfor %}
    </ul>
    <div class="p-other__pagenav" data-anim="fade">
      <p class="p-other__pagenav-note">過去のブログ記事は本番サイトでご覧いただけます。</p>
      <p class="p-other__btn-box"><a href="/blog/" class="c-btn c-btn--yellow c-btn--arrow">過去のブログ一覧へ</a></p>
    </div>
  </section>
</div>
