---
layout: page.njk
title: "【看護学科入試・学科説明会】開催決定✨！"
description: "【看護師・視能訓練士・歯科衛生士・臨床工学技士】医療系に進むなら札幌看護医療専門学校！充実の設備×駅近×ICT教育で新たな医療を学ぶ。学校や学科の最新ニュースをお知らせします。"
breadcrumb: [{"label": "お知らせ", "url": "/news/"}, {"label": "【看護学科入試・学科説明会】開催決定✨！"}]
bodyClass: p-article p-article-news
pageCss: /asset/css/pages/article.css
permalink: /news/2022/6114/index.html
---
{#artfix:mv:start#}
<section class="p-article__mv">
  <div class="p-article__mv-bg"><img src="/asset/img/news/2025/mv.jpg" alt="" width="740" height="330"></div>
  <div class="p-article__mv-title">
    <span class="text-wrap">
      <span class="en">NEWS</span>
      <span class="ja">お知らせ</span>
    </span>
  </div>
</section>
{#artfix:mv:end#}
<div class="p-article__inner">
  <article class="p-article__container">
    <header class="p-article__head" data-anim="fade-up">
      <div class="p-article__meta">
        <time class="p-article__date" datetime="2024-03-02">2024.03.02</time>
        <ul class="p-article__labels"><li><span class="p-article__label" data-cat="nursing">看護学科</span></li><li><span class="p-article__label" data-cat="information">お知らせ</span></li><li><span class="p-article__label" data-cat="event">イベント情報</span></li></ul>
      </div>
      <h1 class="p-article__ttl">【看護学科入試・学科説明会】開催決定✨！</h1>
    </header>
    <div class="p-article__body">
{% raw %}<p><center><img loading="lazy" decoding="async" src="/asset/img/uploads/2024/03/NRS_1.png" alt="" width="600" class="alignnone size-medium wp-image-16037" /></center></p>
<p style="text-align: left;"><strong><span style="color: #ff69b4;">人気の看護学科に特化した説明会</span>を開催します。</strong><br />
<strong>校舎見学・学校／学科紹介・入試説明など</strong><strong><span style="color: #ff9900;">看護学科の全貌がわかる９０分間</span>。</strong><br />
<strong>終了後は個別相談も可能ですので、説明会に参加して入試に対する不安を取り除きましょう！</strong></p>
<p>※オープンキャンパスでも同じ内容を聞くことが出来ますので、体験をしたい場合は別日のオープンキャンパスへお申し込みください。</p>
<p>&nbsp;</p>
<h1>開催日程</h1>
<p><span style="font-size: 14pt;"><strong>◎10</strong></span><span style="font-size: 14pt;"><strong>月</strong></span><br />
<strong><span style="font-size: 14pt;">10月4日(土)10:00～11:30<span style="font-size: 10pt;">（受付9:45〜10:00）</span></span></strong></p>
<p><span style="font-size: 14pt;"><strong>◎2026年3</strong></span><span style="font-size: 14pt;"><strong>月</strong></span><br />
<strong><span style="font-size: 14pt;">3月20日(金)10:00～11:30<span style="font-size: 10pt;">（受付9:45〜10:00）</span></span></strong><br />
<strong><span style="font-size: 14pt;">3月29日(日)10:00～11:30<span style="font-size: 10pt;">（受付9:45〜10:00）</span></span></strong></p>
<p><center><strong><a class="c-btn c-btn--accent c-btn--arrow" href="/form/sp_events/">お申し込みはこちら ▶</a></strong></center><br />
&nbsp;</p>
<p><strong><span style="font-size: 14pt; background-color: #ffcc00;">◆入試パーフェクトBOOK 配布スタート</span><br />
</strong>未公開の情報が盛りだくさん！早めにGETしよう！</p>
<p><span style="font-size: 14pt; background-color: #ffcc00;"><strong>◆初めての方は交通費補助</strong><br />
</span>交通費の詳細は以下からご確認ください</p>
<p><strong><a href="/opencampus/subsidy_list/"><img loading="lazy" fetchpriority="high" decoding="async" class="alignnone size-full wp-image-10574" src="/asset/img/uploads/2023/09/banner-subsidy.jpg" alt="" width="650" height="301" /></a></strong></p>
<p>&nbsp;</p>
<h1>その他のイベント</h1>
<p><strong>■自分の「好き」や「知りたい」を自由にセレクト！</strong><br />
<a href="/opencampus/"><img loading="lazy" decoding="async" src="/asset/img/uploads/2024/03/ICTOC.png" alt="" width="600" class="alignnone size-medium wp-image-14286" /></a></p>
<p>&nbsp;<br />
<strong>■じっくり話が聞きたい・相談がしたい方へ</strong><br />
<a href="/opencampus/session/"><img loading="lazy" decoding="async" src="/asset/img/uploads/2024/03/bc13e5291432ebf898e03b168bc5b066.png" alt="" width="600" class="alignnone size-medium wp-image-14287" /></a></p>
<p><strong> </strong></p>
{% endraw %}
    </div>
    <p class="p-article__back"><a href="/news/" class="c-btn c-btn--yellow c-btn--arrow">お知らせ一覧へ戻る</a></p>
  </article>
    {#artfix:related:start#}
    <aside class="p-article__related" data-anim="fade-up">
      <h2 class="p-article__related-ttl">関連記事</h2>
      <ul class="p-article__related-list">
        <li><a href="/news/2026/19029/" class="p-article__related-item">
          <div class="p-article__related-img"><img src="/asset/img/wp/noimage.png" alt="" width="260" height="150" loading="lazy"></div>
          <div class="p-article__related-txt">
            <time datetime="2026-07-16">2026.07.16</time>
            <p class="p-article__related-name">私は看護師になれる…？進路に迷う高校生応援企画開催決定✨</p>
            <ul class="p-article__labels"><li><span class="p-article__label" data-cat="all_depts">全学科</span></li><li><span class="p-article__label" data-cat="information">お知らせ</span></li><li><span class="p-article__label" data-cat="event">イベント情報</span></li></ul>
          </div>
        </a></li>
        <li><a href="/news/2026/18039/" class="p-article__related-item">
          <div class="p-article__related-img"><img src="/asset/img/wp/noimage.png" alt="" width="260" height="150" loading="lazy"></div>
          <div class="p-article__related-txt">
            <time datetime="2026-07-15">2026.07.15</time>
            <p class="p-article__related-name">【2026年8月】全道８地区で出張オープンキャンパス開催☆</p>
            <ul class="p-article__labels"><li><span class="p-article__label" data-cat="all_depts">全学科</span></li><li><span class="p-article__label" data-cat="information">お知らせ</span></li><li><span class="p-article__label" data-cat="event">イベント情報</span></li></ul>
          </div>
        </a></li>
        <li><a href="/news/2026/18962/" class="p-article__related-item">
          <div class="p-article__related-img"><img src="/asset/img/wp/noimage.png" alt="" width="260" height="150" loading="lazy"></div>
          <div class="p-article__related-txt">
            <time datetime="2026-07-13">2026.07.13</time>
            <p class="p-article__related-name">7/25.26進路に迷ってる方必見★特別プログラム開催！</p>
            <ul class="p-article__labels"><li><span class="p-article__label" data-cat="all_depts">全学科</span></li><li><span class="p-article__label" data-cat="event">イベント情報</span></li></ul>
          </div>
        </a></li>
      </ul>
    </aside>
    {#artfix:related:end#}
    {#artfix:school:start#}
    <section class="p-article__school" data-anim="fade-up">
      <p class="p-article__school-logo"><a href="/"><img src="/asset/img/share/logo.png" alt="札幌看護医療専門学校" width="476" height="80" loading="lazy"></a></p>
      <p class="p-article__school-address">〒004-0051<br>札幌市厚別区厚別中央1条5丁目1番5号</p>
      <p class="p-article__school-tel">TEL：011-801-8343（代表番号）<br>FAX：011-801-8345<br>フリーダイヤル：0120-37-8343</p>
      <ul class="p-article__school-btns">
        <li><a href="/form/inquiry/" class="c-btn c-btn--yellow c-btn--arrow">お問い合わせ</a></li>
        <li><a href="/school/access/" class="c-btn c-btn--arrow">アクセス</a></li>
      </ul>
    </section>
    {#artfix:school:end#}
        </div>
