---
layout: page.njk
title: "高等学校の職員の皆様へ"
description: "【看護師・視能訓練士・歯科衛生士・臨床工学技士】医療系に進むなら札幌看護医療専門学校！充実の設備×駅近×ICT教育で新たな医療を学ぶ。学校や学科の最新ニュースをお知らせします。"
breadcrumb: [{"label": "お知らせ", "url": "/news/"}, {"label": "高等学校の職員の皆様へ"}]
bodyClass: p-article p-article-news
pageCss: /asset/css/pages/article.css
permalink: /news/2023/9888/index.html
---
{#artfix:mv:start#}
<section class="p-article__mv">
  <div class="p-article__mv-bg"><img src="/asset/img/news/2025/mv.jpg" alt="" width="740" height="330"></div>
  <div class="p-article__mv-title">
    <span class="text-wrap">
      <span class="en">NEWS</span>
      <span class="ja">お知らせ</span>
    </span>
  </div>
</section>
{#artfix:mv:end#}
<div class="p-article__inner">
  <article class="p-article__container">
    <header class="p-article__head" data-anim="fade-up">
      <div class="p-article__meta">
        <time class="p-article__date" datetime="2025-05-28">2025.05.28</time>
        <ul class="p-article__labels"><li><span class="p-article__label" data-cat="all_depts">全学科</span></li><li><span class="p-article__label" data-cat="information">お知らせ</span></li></ul>
      </div>
      <h1 class="p-article__ttl">高等学校の職員の皆様へ</h1>
    </header>
    <div class="p-article__body">
{% raw %}<p>本校は2021年４月に、北海道ハイテクノロジー専門学校から看護・視能訓練士・歯科衛生士・臨床工学技士の4学科が分離・移転し「札幌看護医療専門学校」として開校6年目となりました。</p>
<p>広く医療の職業や本校のことを知って頂きたいと思い、以下の企画を実施しておりますので、是非ご活用頂ければ幸いです。</p>
<p>開校6年目を迎え、教職員一同、心を新たに一層の努力を重ねてまいる所存でございますので、今後ともご指導ご鞭撻を賜りますようお願い申し上げます。</p>
<p>&nbsp;</p>
<h1><span style="background-color: #ffff99;">生徒さん向け/出張講話・体験</span></h1>
<p><img loading="lazy" decoding="async" class="alignnone size-medium wp-image-14736" src="/asset/img/uploads/2025/04/d7b9ca86a27b906c57714169e6671782.jpg" alt="" width="600" /></p>
<p><strong>申込FAXをご活用の方は、以下から印刷してお使いください</strong></p>
<p style="text-align: center;"><a class="c-btn c-btn--accent c-btn--arrow" href="/asset/doc/uploads/2023/07/7c0a982839043a8e39a56733d605364a.xlsx" target="_blank" rel="noopener noreferrer">FAX申込書</a></p>
<p>&nbsp;</p>
<h1><span style="background-color: #ffff99;">先生向け/出張職業理解セミナー</span></h1>
<p>生徒さんの進路選択サポートを行う高校教員のみなさま向けに<br />
様々な職業を体験していただき職業理解を深めていただくことを目的として、「高校教員向け職業理解セミナー」を開催しております。<br />
姉妹校と合わせて、職業体験や講話も行うことが可能です。実施可能な体験・講話については、ご相談の上決定出来ればと思いますので、お気軽にお電話・メールにてご連絡ください。</p>
<p><strong>参考：姉妹校一覧【北海道滋慶学園グループ】</strong><br />
・<a href="https://www.hht.ac.jp/" target="_blank" rel="noopener">北海道ハイテクノロジー専門学校</a><br />
・<a href="https://www.heco.ac.jp/" target="_blank" rel="noopener">北海道エコ・動物自然専門学校</a><br />
・<a href="https://www.sapporo.belle.ac.jp/" target="_blank" rel="noopener">札幌ベルエポック美容専門学校</a><br />
・<a href="https://www.foods.belle.ac.jp/" target="_blank" rel="noopener">札幌ベルエポック製菓調理専門学校</a><br />
・<a href="https://www.ssm.ac.jp/" target="_blank" rel="noopener">札幌ミュージック＆ダンス・放送専門学校</a><br />
・<a href="https://www.sba.ac.jp/" target="_blank" rel="noopener">札幌デザイン＆テクノロジー専門学校</a></p>
<h2>※過去開催レポート※</h2>
<p><strong>2023.6.3開催　函館大妻高校</strong><br />
<iframe loading="lazy" title="函館大妻高校さま　教員インタビュー" width="500" height="281" src="https://www.youtube.com/embed/_6Bpa39Ca7I?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></p>
<p>他職種他分野が集まったセミナーで、１３職種の中から３つの職業を先生方１人ひとりに実際に体験していただきました。先生方も楽しみながら、職業理解を深める機会となったと嬉しいお声をいただきました。引き続き、生徒さまへの進路選択サポートへのお力添え出来れば幸いです。<br />
ありがとうございました！</p>
<h1><span style="background-color: #ffff99;">先生向け/医療系進学フェア</span></h1>
<p><a target="_blank" rel="noopener" href="/asset/img/uploads/2026/05/738b50832bfd3412c31c363615cec1cf.jpg"><img loading="lazy" fetchpriority="high" decoding="async" class="alignnone size-full wp-image-18433" src="/asset/img/uploads/2026/05/738b50832bfd3412c31c363615cec1cf.jpg" alt="" width="1414" height="2000" /></a></p>
<div>7月29日〜8月1日教員向けの個別相談会を開催いたします！<br />
医療系学校への進学とは、就職や奨学金は・・など学生さんの進路指導に活用できる内容が<br />
盛りだくさんですので、ぜひご参加お待ちしております。</div>
<div></div>
<div><a href="https://docs.google.com/forms/d/e/1FAIpQLScibISQjDLgwZu_jCX1HjM13id9coYwqACKmpUkxdIutuuXVQ/viewform?usp=header"><strong>お申し込みはコチラ</strong></a></div>
<div></div>
<div></div>
<div><span style="font-size: 12pt;"><strong>問い合わせ先：札幌看護医療専門学校　入学事務局／広報センター</strong></span></div>
<div class="mt-16"><a class="tel banner" href="tel:0120-8119-17"><picture><source srcset="/asset/img/visit_society/bnr-etc-03.jpg" media="(min-width: 768px)" /></picture> <picture><img loading="lazy" decoding="async" class="block w-full" src="/asset/img/visit_society/bnr-etc-03-sp.jpg" alt="" width="669" height="284" /></picture></a></div>
<p>&nbsp;</p>
<div style="text-align: center;"><strong><a class="c-btn c-btn--accent c-btn--arrow" href="/form/inquiry/">メールでのお問い合わせ</a></strong></div>
{% endraw %}
    </div>
    <p class="p-article__back"><a href="/news/" class="c-btn c-btn--yellow c-btn--arrow">お知らせ一覧へ戻る</a></p>
  </article>
    {#artfix:related:start#}
    <aside class="p-article__related" data-anim="fade-up">
      <h2 class="p-article__related-ttl">関連記事</h2>
      <ul class="p-article__related-list">
        <li><a href="/news/2026/19029/" class="p-article__related-item">
          <div class="p-article__related-img"><img src="/asset/img/wp/noimage.png" alt="" width="260" height="150" loading="lazy"></div>
          <div class="p-article__related-txt">
            <time datetime="2026-07-16">2026.07.16</time>
            <p class="p-article__related-name">私は看護師になれる…？進路に迷う高校生応援企画開催決定✨</p>
            <ul class="p-article__labels"><li><span class="p-article__label" data-cat="all_depts">全学科</span></li><li><span class="p-article__label" data-cat="information">お知らせ</span></li><li><span class="p-article__label" data-cat="event">イベント情報</span></li></ul>
          </div>
        </a></li>
        <li><a href="/news/2026/18039/" class="p-article__related-item">
          <div class="p-article__related-img"><img src="/asset/img/wp/noimage.png" alt="" width="260" height="150" loading="lazy"></div>
          <div class="p-article__related-txt">
            <time datetime="2026-07-15">2026.07.15</time>
            <p class="p-article__related-name">【2026年8月】全道８地区で出張オープンキャンパス開催☆</p>
            <ul class="p-article__labels"><li><span class="p-article__label" data-cat="all_depts">全学科</span></li><li><span class="p-article__label" data-cat="information">お知らせ</span></li><li><span class="p-article__label" data-cat="event">イベント情報</span></li></ul>
          </div>
        </a></li>
        <li><a href="/news/2026/18962/" class="p-article__related-item">
          <div class="p-article__related-img"><img src="/asset/img/wp/noimage.png" alt="" width="260" height="150" loading="lazy"></div>
          <div class="p-article__related-txt">
            <time datetime="2026-07-13">2026.07.13</time>
            <p class="p-article__related-name">7/25.26進路に迷ってる方必見★特別プログラム開催！</p>
            <ul class="p-article__labels"><li><span class="p-article__label" data-cat="all_depts">全学科</span></li><li><span class="p-article__label" data-cat="event">イベント情報</span></li></ul>
          </div>
        </a></li>
      </ul>
    </aside>
    {#artfix:related:end#}
    {#artfix:school:start#}
    <section class="p-article__school" data-anim="fade-up">
      <p class="p-article__school-logo"><a href="/"><img src="/asset/img/share/logo.png" alt="札幌看護医療専門学校" width="476" height="80" loading="lazy"></a></p>
      <p class="p-article__school-address">〒004-0051<br>札幌市厚別区厚別中央1条5丁目1番5号</p>
      <p class="p-article__school-tel">TEL：011-801-8343（代表番号）<br>FAX：011-801-8345<br>フリーダイヤル：0120-37-8343</p>
      <ul class="p-article__school-btns">
        <li><a href="/form/inquiry/" class="c-btn c-btn--yellow c-btn--arrow">お問い合わせ</a></li>
        <li><a href="/school/access/" class="c-btn c-btn--arrow">アクセス</a></li>
      </ul>
    </section>
    {#artfix:school:end#}
        </div>
