---
layout: page.njk
title: "臨床工学技士学科3年生がいよいよ臨床実習へ✨～臨床実習激励式～"
description: "【看護師・視能訓練士・歯科衛生士・臨床工学技士】医療系に進むなら札幌看護医療専門学校！充実の設備×駅近×ICT教育で新たな医療を学ぶ。学校行事や学科のブログです。"
breadcrumb: [{label: ブログ, url: /blog/}, {label: "臨床工学技士学科3年生がいよいよ臨床実習へ✨～臨床実習激励式～"}]
bodyClass: p-blogart
pageCss: /asset/css/pages/blog-article.css
permalink: /blog/2026/18576/index.html
---
<article class="p-blogart">
  <header class="p-blogart__head" data-anim="fade-up">
    <div class="p-blogart__meta">
      <time class="p-blogart__date" datetime="2026-05-25">2026.05.25</time>
      <ul class="p-blogart__labels"><li><span class="p-blogart__label" data-cat="clinicalengineer">臨床工学技士学科</span></li><li><span class="p-blogart__label" data-cat="session">授業の様子</span></li><li><span class="p-blogart__label" data-cat="events">学校行事</span></li></ul>
    </div>
    <h1 class="p-blogart__ttl">臨床工学技士学科3年生がいよいよ臨床実習へ✨～臨床実習激励式～</h1>
    <figure class="p-blogart__eyecatch"><img src="/asset/img/uploads/2026/05/4171077d28c55ff7283ab4c7ad241ce1-900x636.jpg" alt="" width="900" height="636" loading="lazy"></figure>
  </header>
  <div class="p-blogart__body">
{% raw %}
<p>札幌看護医療専門学校の臨床工学技士学科の3年生が<strong>「臨床実習激励式」</strong>を行いました😊<br />
臨床工学技士を目指す者としてふさわしいと認められた3年生に、その証となる称号を授ける大切な式典です。称号として、一人ひとりに<strong><span style="color: #9400d3;">ステート（聴診器）</span></strong>が与えられました。</p>
<p><img src="/asset/img/uploads/2026/05/IMG_2842.jpg" alt="" loading="lazy"></p>
<p>臨床工学技士学科の3年生は、入学してからの約２年間、医学と工学の知識や様々な医療機器の操作等について真剣に学び成長してきました💪<strong>今までの学びをもとに、いよいよ初めての病院での臨床実習に挑みます！</strong></p>
<p><img src="/asset/img/uploads/2026/05/IMG_2839.jpg" alt="" loading="lazy"></p>
<p>医療の現場を実際に体験することで、たくさんの新たな発見や学びがあることでしょう。<br />
<strong><mark>今までの自分自身の努力を信じて、実習先の諸先生方の胸を借りる気持ちでたくさんの知識、技術を学んできてください。</mark></strong>臨床実習で素晴らしい経験を積み、たくさん成長して、元気に帰校してくれることを願っています✨</p>
<p><img src="/asset/img/uploads/2026/05/IMG_2831-600x424.jpg" alt="" width="600" height="424" loading="lazy"></p>
<p>今回の式典でも、臨床工学技士学科恒例となりつつある<strong>称号授与後のポージング</strong>が行われました。思い思いのポーズを決める姿が見られ、クラスの仲の良さが際立っていました。<br />
<strong><span style="color: #9400d3;">この絆で、クラス一丸となって実習を乗り越えていきましょう💖</span></strong></p>
<p><img src="/asset/img/uploads/2026/05/IMG_2833.jpg" alt="" loading="lazy"></p>
<p>札幌看護医療専門学校では、夢に向かって共に頑張る仲間や、夢を叶えるために全力でサポートしてくれる先生方に出会えます！臨床工学技士を目指す皆さん、医療人を目指す皆さん、札幌看護医療専門学校で一緒に夢を叶えましょう🌈✨</p>
<p>&nbsp;</p>
<p><center><span style="font-size: medium;"><strong>\夢を叶える第一歩をいっしょに！／</strong></span><br />
<a href="/opencampus/"><img src="/asset/img/uploads/2026/03/e373108c52c7083eb7c146292410e480.png" alt="" loading="lazy"></a></center>&nbsp;</p>
<p><center><span style="font-size: medium;"><strong>\入学前も入学後も気軽に相談できる！／</strong></span>&lt;<br />
<a href="/news/2025/914/"><img src="/asset/img/uploads/2025/10/44b7e0a26efb8ac4b5bc80313f5d19ff.jpg" alt="" width="700" height="324" loading="lazy"></a></center></p>
{% endraw %}
  </div>
  <p class="p-blogart__back" data-anim="fade"><a href="/blog/" class="c-btn c-btn--yellow c-btn--arrow">ブログ一覧へ戻る</a></p>
</article>
