---
layout: page.njk
title: "2026学園祭～ウェルネスフェス～"
description: "【看護師・視能訓練士・歯科衛生士・臨床工学技士】医療系に進むなら札幌看護医療専門学校！充実の設備×駅近×ICT教育で新たな医療を学ぶ。学校行事や学科のブログです。"
breadcrumb: [{label: ブログ, url: /blog/}, {label: "2026学園祭～ウェルネスフェス～"}]
bodyClass: p-blogart
pageCss: /asset/css/pages/blog-article.css
permalink: /blog/2026/18991/index.html
---
<article class="p-blogart">
  <header class="p-blogart__head" data-anim="fade-up">
    <div class="p-blogart__meta">
      <time class="p-blogart__date" datetime="2026-07-01">2026.07.01</time>
      <ul class="p-blogart__labels"><li><span class="p-blogart__label" data-cat="all_depts">全学科</span></li><li><span class="p-blogart__label" data-cat="events">学校行事</span></li></ul>
    </div>
    <h1 class="p-blogart__ttl">2026学園祭～ウェルネスフェス～</h1>
    <figure class="p-blogart__eyecatch"><img src="/asset/img/uploads/2026/07/fc6927a4cd7fc6f068de9eb5d3ae4aff-900x636.jpg" alt="" width="900" height="636" loading="lazy"></figure>
  </header>
  <div class="p-blogart__body">
{% raw %}
<h1>札幌看護医療専門学校では2026年6月27日（土）に学園祭を開催しました✨</h1>
<p>前日まではあいにくの空模様でしたが、当日は学生と先生の祈りが通じたのか晴れ間が出てきて、</p>
<p>無事、学園祭を開催することができました🌞<br />
<strong>4回目の開催となる今年の学園祭のコンセプトは<br />
<span style="color: #ff8c00; font-size: medium;">「スーパーホスピタリティで来場者も学生も楽しめる学園祭！ココロもカラダもハッピーに！」</span>。</strong><br />
医療を学ぶ専門学校の学園祭として、<strong><span style="color: #ff69b4;">ココロ</span>と<span style="color: #1e90ff;">カラダ</span>の元気を届ける</strong>ことに加え、<strong>ホスピタリティを意識・実践した思いやりあふれるイベント</strong>となりました❤</p>
<p><img src="/asset/img/uploads/2026/07/382574a2-d2ae-4dbf-86c7-323359773b9c-600x424.jpg" alt="" width="600" height="424" loading="lazy"></p>
<p>本校の学生は、焼きそばやフルーツなど健康意識メニューを提供する学生屋台のほか、日々の学習を活かしたお仕事体験や健康チェックを行う学生ウェルネスブースを実施しました。工夫を凝らしたメニューや装飾、<span style="color: #ff8c00;"><strong>ホスピタリティに溢れたおもてなし</strong></span>で、お客様に楽しんでいただけました☺</p>
<p><img src="/asset/img/uploads/2026/07/3b137efd-c1af-4d6f-b9c5-60284bdc0e2e-600x424.jpg" alt="" width="600" height="424" loading="lazy"></p>
<p><strong>姉妹校である札幌ベルエポック美容・製菓調理専門学校、北海道ハイテクノロジー専門学校の学生たちもそれぞれの専門分野を活かしてブースを出展！</strong>ヘアアレンジやお菓子販売、キッチンカー出店などでイベントを盛り上げてくれました🍕</p>
<p><img src="/asset/img/uploads/2026/07/9cfbe1ba-ae4c-483b-95d8-975064c5f327-600x424.jpg" alt="" width="600" height="424" loading="lazy"></p>
<p>さらに新札幌の企業の皆さんにご協力いただき、色々な体験や健康チェックができる企業ウェルネスブースも多数展開しました！血管年齢測定やピラティス体験、カラオケ大会に午後の紅茶アレンジティー試飲、札幌市青少年科学館による子ども向け科学体験「ちょびっとサイエンス」など多くの企業にご協力いただきました🌈<br />
<strong>ご協力いただいた皆様、本当にありがとうございました！</strong></p>
<p><img src="/asset/img/uploads/2026/07/974bed1b-7b68-4f50-a33a-3270788df94d-600x424.jpg" alt="" width="600" height="424" loading="lazy"></p>
<p>大人から子どもまで多くの地域の皆様にご来場いただき、幅広い年代が楽しめる地域の一大イベントとなりました！<span style="color: #ff69b4; font-size: medium;"><strong>【まち全体がキャンパス】として、新札幌の地域と一緒に学んでいる札幌看護医療専門学校だからこそできる</strong></span>、素敵な学園祭になりましたね✨</p>
<p>専門学校は忙しいだけ？そんな不安を感じている高校生の皆さん、札幌看護医療専門学校なら勉強もイベントも充実した3年間を過ごせます！素敵な学生生活をぜひ本校で過ごしてくださいね✨<br />
<strong><span style="color: #ff8c00;">学校のことが気になる方、オープンキャンパスでお待ちしています！</span></strong></p>
<h3><strong><span style="font-size: 14pt;">オープンキャンパス開催中！</span></strong></h3>
<p><strong>■自分の「好き」や「知りたい」を自由にセレクト！</strong><br />
<a href="/opencampus/"><img src="/asset/img/uploads/2026/03/e373108c52c7083eb7c146292410e480.png" alt="" loading="lazy"></a></p>
<p><strong>■参加者全員の交通費をサポート</strong><br />
<strong><a href="/opencampus/subsidy_list/"><img src="/asset/img/uploads/2023/09/banner-subsidy.jpg" alt="" loading="lazy"></a><br />
</strong><br />
<strong>全道各地から無料送迎バスも運行<br />
</strong><strong>▼運行エリア・時間はコチラ▼</strong><span style="font-size: 10pt;"> ※バス利用の方は交通費補助は対象外となります</span><br />
<a href="/opencampus/bus/"><img src="/asset/img/uploads/2025/03/a57c6cf14e5748fe10a156054959ccaf.png" alt="" loading="lazy"></a><br />
<span style="font-size: 10pt;"> ※バス利用の方は交通費補助は対象外となります</span></p>
{% endraw %}
  </div>
  <p class="p-blogart__back" data-anim="fade"><a href="/blog/" class="c-btn c-btn--yellow c-btn--arrow">ブログ一覧へ戻る</a></p>
</article>
