---
layout: page.njk
title: 推薦・一般入試 出願方法
description: 【看護学科・視能訓練士学科・歯科衛生士学科・臨床工学技士学科】30年以上の実績を引き継ぎ、新さっぽろに新校舎開設。充実の設備×駅近×ICT教育で新たな医療を学べる専門学校。出願方法（ネット出願）のご案内ページです。
breadcrumb: [{label: 入試・学費, url: /admission/}, {label: 推薦・一般入試 出願方法}]
bodyClass: p-admission p-admission-applicationflow
pageCss: /asset/css/pages/admission.css
pageJs: /asset/js/pages/admission.js
permalink: /admission/applicationflow/index.html
---
{#- メインビジュアル -#}
<section class="p-admission__mv">
  <div class="p-admission__mv-txt">
    <p class="p-admission__mv-en">ADMISSION</p>
    <h1 class="p-admission__mv-ja">推薦・一般入試 出願方法</h1>
  </div>
  <img src="/asset/img/admission/share/2025/mv.jpg" alt="" width="740" height="330" class="p-admission__mv-bg">
</section>

<section class="p-admission__section">
  {#- ネット出願方法 -#}
  <div class="p-admission__block" data-anim="fade-up">
    <h2 class="p-admission__catch">スマホからも手続きカンタン！<br>「ネット出願」なら24時間手続きできます！</h2>
    <h3 class="p-admission__ttl">ネット出願方法</h3>
    <p class="p-admission__btn-box"><a href="https://webappform.jikei.com/?sid=SNM" target="_blank" rel="noopener" class="c-btn c-btn--yellow c-btn--arrow">ネット出願フォーム</a></p>
  </div>

  <div class="p-admission__block" data-anim="fade-up">
    <ol class="p-admission__flow" data-anim-group>
      <li class="p-admission__flow-item" data-flow-step="1" data-anim="fade-up">
        <span class="p-admission__flow-num" aria-hidden="true">STEP<b>1</b></span>
        <div class="p-admission__flow-box">
          <h3 class="p-admission__flow-ttl">ネット出願をする</h3>
          <div class="p-admission__flow-body">
            <ol class="p-admission__olist">
              <li>本校HPから画面の指示に従って必要事項を入力してください。</li>
              <li>写真データ（正面上半身、無帽、無背景、制服または正装で3カ月以内に撮影したもの）をご準備ください。</li>
              <li>選考料の支払い方法を「コンビニ決済」か「クレジットカード決済」のいずれかを選択してください。</li>
              <li>入力完了後、登録したメールアドレスに登録完了メールが送られたら入力は完了です。</li>
            </ol>
            <ul class="p-admission__notes">
              <li>完了メールを正しく受け取るために、【info@snm.ac.jp】からのメールの受信許可をしてください。</li>
            </ul>
            <div class="p-admission__border-box">
              <h4 class="box-ttl p-admission__txt-red">記述入力内容について（志望理由など）</h4>
              <ul class="p-admission__olist">
                <li>将来の夢や目標、入学してから頑張りたいことなど、あなたの未来像[200文字以内]</li>
                <li>本校を志望した理由[200文字以内]</li>
                <li>長所・短所[100文字以内]</li>
                <li>趣味・特技[100文字以内]</li>
                <li>得意科目・不得意科目[100文字以内]</li>
                <li>学内外での活動歴（部活動、生徒会活動、ボランティア活動など）[200文字以内]</li>
                <li>資格・免許（該当する場合のみ入力）[100文字以内]</li>
                <li>高校卒業後の履歴・職歴（該当する場合のみ入力）[100文字以内]</li>
              </ul>
              <ul class="p-admission__notes">
                <li>入力完了後の編集はできません。</li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class="p-admission__flow-item" data-flow-step="2" data-anim="fade-up">
        <span class="p-admission__flow-num" aria-hidden="true">STEP<b>2</b></span>
        <div class="p-admission__flow-box">
          <h3 class="p-admission__flow-ttl">選考料（30,000円）のお支払い<br><small>（ネット出願受付期間内にお支払いください）</small></h3>
          <div class="p-admission__flow-body">
            <p>ネット出願時、 選考料のお支払い方法をお知らせします。「コンビニ決済」か「クレジットカード決済」のいずれかより選択してください。</p>
            <ul class="p-admission__notes">
              <li>選択後の変更はできません。</li>
              <li>選考を辞退した場合、入学選考料の返金は致しかねますのでご了承ください。</li>
              <li>ネット出願期間内にお支払いください。</li>
            </ul>
            <div class="p-admission__scroll">
              <table class="p-admission__tbl">
                <tbody>
                  <tr>
                    <th style="width:50%">コンビニ決済の場合</th>
                    <th style="width:50%">クレジットカード決済の場合</th>
                  </tr>
                  <tr>
                    <td style="vertical-align:top">
                      <p>下記のコンビニにてお取り扱いが可能です。コンビニ決済画面に従い入力し、「送信ボタン」を押すと各コンビニの振込用の番号が表示されますので、その番号を控えコンビニにてお支払いください。</p>
                      <ul class="p-admission__cvs-list">
                        <li>ファミリーマート</li>
                        <li>ローソン</li>
                        <li>セイコーマート</li>
                      </ul>
                    </td>
                    <td style="vertical-align:top">
                      <p>画面の指示に従い入力してください。送信ボタンを押すとその場で決済されるので手続きは完了です。</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </li>
      <li class="p-admission__flow-item" data-flow-step="3" data-anim="fade-up">
        <span class="p-admission__flow-num" aria-hidden="true">STEP<b>3</b></span>
        <div class="p-admission__flow-box">
          <h3 class="p-admission__flow-ttl">その他の提出書類の送付と受験票の受け取り</h3>
          <div class="p-admission__flow-body">
            <ul class="p-admission__disc">
              <li>該当する出願書類を簡易書留で郵送または窓口へ持参してください。</li>
              <li>出願書類・選考料入金の確認ができ次第、本校よりメールにてWEB受験票（受験番号や入学試験、特待生試験の詳細や日時など）をお送りします。</li>
              <li>WEB受験票に記載された試験日時に来校してください。</li>
            </ul>
            <ul class="p-admission__notes">
              <li>AO入試、指定校推薦の方は来校の必要はありません。</li>
              <li>本校から送信したメールを持参の上、来校受付時にメール本文の画面を提示してください。</li>
              <li>メールは無くさず保管してください。スクリーンショットは不可です。</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="p-admission__flow-item is-plain" data-flow-step="4" data-anim="fade-up">
        <span class="p-admission__flow-num" aria-hidden="true"></span>
        <div class="p-admission__flow-box">
          <h3 class="p-admission__flow-ttl">入学試験の結果が届く</h3>
          <div class="p-admission__flow-body">
            <p>入学試験日より、2週間以内に入学試験の結果を郵送でお送りします。合格者には「学費振込依頼書」を合せてお送りします。</p>
            <ul class="p-admission__notes">
              <li>特待生試験を受験の方は、入学試験と特待生試験の結果を一緒にお送りします。</li>
            </ul>
          </div>
        </div>
      </li>
    </ol>
  </div>

  {#- 入学までの流れ -#}
  <div class="p-admission__block" data-anim="fade-up">
    <h2 class="p-admission__ttl">入学までの流れ</h2>
    <ol class="p-admission__flow" data-anim-group>
      <li class="p-admission__flow-item is-plain" data-flow-step="1" data-anim="fade-up">
        <span class="p-admission__flow-num" aria-hidden="true"></span>
        <div class="p-admission__flow-box">
          <h3 class="p-admission__flow-ttl">入学手続き①</h3>
          <div class="p-admission__flow-body">
            <p><b>1次納入手続きを行う</b><br>お送りする所定の振込用紙を使用して期日まで（合格通知発行日から2週間以内が目安）に納入を完了してください。<br><small>※原則一括納入となります。</small></p>
          </div>
        </div>
      </li>
      <li class="p-admission__flow-item is-plain" data-flow-step="2" data-anim="fade-up">
        <span class="p-admission__flow-num" aria-hidden="true"></span>
        <div class="p-admission__flow-box">
          <h3 class="p-admission__flow-ttl">入学許可証通知</h3>
          <div class="p-admission__flow-body">
            <p>1次納入手続き完了確認後、「入学許可書」をお送りします。</p>
          </div>
        </div>
      </li>
      <li class="p-admission__flow-item is-plain" data-flow-step="3" data-anim="fade-up">
        <span class="p-admission__flow-num" aria-hidden="true"></span>
        <div class="p-admission__flow-box">
          <h3 class="p-admission__flow-ttl">入学前登校に参加</h3>
          <div class="p-admission__flow-body">
            <p>入学後の授業をスムーズにスタートさせるために、本校では入学前から専門の勉強をいち早くスタートできるオリジナルのプログラム「入学前教育」として「入学前登校」や「e-learning」による学習を行っています。入学前から仲間作りや、学校生活の準備ができるため、安心して4月を迎えることができます（日程は別途お知らせします）。</p>
          </div>
        </div>
      </li>
      <li class="p-admission__flow-item is-plain" data-flow-step="4" data-anim="fade-up">
        <span class="p-admission__flow-num" aria-hidden="true"></span>
        <div class="p-admission__flow-box">
          <h3 class="p-admission__flow-ttl">入学手続き②（2月中旬）</h3>
          <div class="p-admission__flow-body">
            <p><b>2次納入手続きを行う</b><br>諸費用納入についてのご案内を2月中旬頃お送りします。所定の振込用紙を使用して3月中旬（指定の期日）までに納入を完了してください。</p>
          </div>
        </div>
      </li>
      <li class="p-admission__flow-item is-plain" data-flow-step="5" data-anim="fade-up">
        <span class="p-admission__flow-num" aria-hidden="true"></span>
        <div class="p-admission__flow-box">
          <h3 class="p-admission__flow-ttl">入学式案内（3月中旬）</h3>
          <div class="p-admission__flow-body">
            <p>入学式の案内をします。入学式は4月上旬に開催を予定しております。</p>
          </div>
        </div>
      </li>
      <li class="p-admission__flow-item is-plain" data-flow-step="6" data-anim="fade-up">
        <span class="p-admission__flow-num" aria-hidden="true"></span>
        <div class="p-admission__flow-box">
          <h3 class="p-admission__flow-ttl">入学式（4月上旬）</h3>
        </div>
      </li>
    </ol>
  </div>

  {#- 推薦書ダウンロード -#}
  <div class="p-admission__block" data-anim="fade-up">
    <div class="p-admission__info-box">
      <h3 class="p-admission__ttl-sub">【指定校・高校（公募）・業界推薦希望の方】は下記より書式をダウンロードし印刷してください。</h3>
      <p>印刷した用紙を市販の封筒に朱書きで「推薦書在中」と記載の上、簡易書留郵送にてお送りください。<br>（送付先　〒004-0051 札幌市厚別区厚別中央1条5丁目1番5号　札幌看護医療専門学校　入学事務局行）</p>
      <ul class="p-admission__notes">
        <li>オープンキャンパスなどでもお渡し可能です。</li>
      </ul>
      <p class="p-admission__btn-box"><a href="/asset/doc/admission/share/recommendation.pdf" class="c-btn c-btn--yellow c-btn--arrow">推薦書ダウンロード</a></p>
    </div>
  </div>

  {#- 関連バナー -#}
  <div class="p-admission__block" data-anim="fade-up">
    <div class="p-admission__banner-grid">
      <a href="/opencampus/" class="p-admission__banner"><img src="/asset/img/share/2026/banner-ictoc.png" alt="オープンキャンパス" width="330" height="310" loading="lazy"></a>
      <a href="/opencampus/session/" class="p-admission__banner"><img src="/asset/img/share/2026/banner-consultation.png" alt="学校・学科/入試/学費などじっくり相談したい方へ 学校説明＆個別相談会" width="330" height="310" loading="lazy"></a>
    </div>
  </div>
  <div class="p-admission__block" data-anim="fade-up">
    <a href="/news/2023/914/" class="p-admission__banner-wide"><img src="/asset/img/share/2026/banner-line.jpg" width="700" height="324" alt="LINE何でも相談室 1対1トークで気軽に相談！" loading="lazy"></a>
  </div>
</section>
