---
layout: page.njk
title: 施設紹介
description: 最新設備だけでなく細部までこだわり3年間毎日明るい気持ちで登校できるお洒落な校舎です。同敷地内には札幌学院大学もあり、共に学べる環境が整っています。
breadcrumb: [{label: 学校生活・施設, url: /campuslife/}, {label: 施設紹介}]
bodyClass: p-campuslife p-campuslife-facility
pageCss: /asset/css/pages/campuslife.css
pageJs: /asset/js/pages/campuslife.js
permalink: /campuslife/facility/index.html
---
{#- メインビジュアル -#}
<section class="p-campuslife__fa-mv">
  <div class="p-campuslife__fa-mv-img"><img src="/asset/img/campuslife/facility/mv-img.jpg" alt="" width="780" height="750"></div>
  <h2 class="p-campuslife__fa-mv-ttl">施設紹介</h2>
  <p class="p-campuslife__fa-mv-catch"><img src="/asset/img/campuslife/facility/mv-catch.png" alt="Facility introduction" width="271" height="57"></p>
</section>

{#- 校舎ヘッド -#}
<section class="p-campuslife__fa-head u-section">
  <h3 class="p-campuslife__fa-title" data-anim="fade-up">
    <span class="grad">最新<span class="small">の</span>快適<span class="small">な</span>校舎<span class="small">と</span></span><br>
    <span class="grad">充実<span class="small">した</span>設備<span class="small">で</span></span>
  </h3>
  <p class="p-campuslife__fa-catch" data-anim="fade-up"><img src="/asset/img/campuslife/facility/2025/head-catch.png" loading="lazy" alt="Enjoy a fun campus life!" width="594" height="192"></p>
  <ul class="p-campuslife__fa-headimgs" data-anim-group>
    <li data-anim="zoom"><img src="/asset/img/campuslife/facility/head-list01.jpg" loading="lazy" alt="" width="380" height="253"></li>
    <li data-anim="zoom"><img src="/asset/img/campuslife/facility/head-list02.jpg" loading="lazy" alt="" width="364" height="460"></li>
    <li data-anim="zoom"><img src="/asset/img/campuslife/facility/head-list03.jpg" loading="lazy" alt="" width="240" height="240"></li>
  </ul>
</section>

{#- 共用スペース（前半） -#}
<section class="p-campuslife__fa-group u-section" data-tour-stop="promenade">
  <div class="head-img" data-anim="fade"><img src="/asset/img/campuslife/facility/facility01-img01.jpg" loading="lazy" alt="" width="700" height="466"></div>
  <div class="body">
    <h4 class="ttl" data-anim="fade-up"><span class="u-marker" data-marker>まちとつながる<span class="strong">プロムナードキャンパス</span></span></h4>
    <p class="txt">新たな街づくりにより、「アカデミック街区」として創設された札幌看護医療専門学校。同敷地内には札幌学院大学もあり、共に学べる環境が整っています。屋外プロムナードを通って、毎日明るい気持ちで登校できるお洒落な校舎です。</p>
  </div>
  <div class="sub" data-anim-group>
    <div class="sub-img" data-anim="fade"><img src="/asset/img/campuslife/facility/facility01-img02.jpg" loading="lazy" alt="" width="640" height="426"></div>
    <p class="sub-txt" data-anim="fade-up">外観はプロムナードの舗装と連続感をもたせ、水平性を強調したアースカラー「大地」の外装。</p>
  </div>
</section>

<section class="p-campuslife__fa-group u-section" data-tour-stop="entrance">
  <div class="head-img" data-anim="fade"><img src="/asset/img/campuslife/facility/facility02-img01.jpg" loading="lazy" alt="" width="780" height="520"></div>
  <div class="body">
    <h4 class="ttl" data-anim="fade-up"><span class="u-marker" data-marker>出会いと居場所が見つかる</span><br><span class="u-marker" data-marker>開放的な<span class="strong">エントランスホール</span></span></h4>
    <p class="txt">1～2階には屋内外のつながりを促すフォリーが<ruby>鏤<rt>ちりば</rt></ruby>められたガーデン・ホール空間を配置しました。</p>
  </div>
  <ul class="imgs" data-anim-group>
    <li data-anim="zoom"><img src="/asset/img/campuslife/facility/facility02-img02.jpg" loading="lazy" alt="" width="600" height="400"></li>
    <li data-anim="zoom"><img src="/asset/img/campuslife/facility/facility02-img03.jpg" loading="lazy" alt="" width="290" height="290"></li>
  </ul>
</section>

<section class="p-campuslife__fa-group u-section" data-tour-stop="cafe">
  <div class="head-img" data-anim="fade"><img src="/asset/img/campuslife/facility/facility03-img01.jpg" loading="lazy" alt="" width="780" height="520"></div>
  <div class="body">
    <h4 class="ttl" data-anim="fade-up"><span class="u-marker" data-marker>自然光が心地いい<span class="strong">キャンパスカフェ</span></span></h4>
    <p class="txt">1日の自然光のリズムに合わせた「サーカディアン照明」を導入することで、時間によって移り変わる空間を実現しました。</p>
  </div>
  <ul class="imgs" data-anim-group>
    <li data-anim="zoom"><img src="/asset/img/campuslife/facility/facility03-img02.jpg" loading="lazy" alt="" width="510" height="340"></li>
    <li data-anim="zoom"><img src="/asset/img/campuslife/facility/facility03-img03.jpg" loading="lazy" alt="" width="248" height="248"></li>
    <li data-anim="zoom"><img src="/asset/img/campuslife/facility/facility03-img04.jpg" loading="lazy" alt="" width="600" height="400"></li>
  </ul>
</section>

{#- 「共感の大地」テーマ -#}
<section class="p-campuslife__fa-theme u-section" data-tour-stop="theme">
  <h3 class="ttl" data-anim="stamp"><span class="yellow">「共感の大地」</span></h3>
  <p class="lead" data-anim="fade-up">「共感の大地」をテーマに、<br>教室と実習室を一体化させる共用廊下空間にて<br>学科ごと／フロアごとの共感を重視した空間とし、<br>多様な教育の場が散策できます。</p>
  <div class="bg"><img src="/asset/img/campuslife/facility/2025/theme-bg.jpg" loading="lazy" alt="" width="780" height="1500"></div>
</section>

{#- 共用スペース（後半） -#}
<section class="p-campuslife__fa-group u-section" data-tour-stop="library">
  <div class="head-img" data-anim="fade"><img src="/asset/img/campuslife/facility/facility04-img01.jpg" loading="lazy" alt="" width="780" height="520"></div>
  <div class="body">
    <h4 class="ttl" data-anim="fade-up"><span class="u-marker" data-marker>明るく広々とした<span class="strong">図書館</span></span></h4>
    <p class="txt">必要な専門図書を取り揃え、仕切りで区切られたスペースもあり、一人ひとりが集中できる区間です。</p>
  </div>
  <ul class="imgs" data-anim-group>
    <li data-anim="zoom"><img src="/asset/img/campuslife/facility/2026/facility04-img02.jpg" loading="lazy" alt="" width="290" height="290"></li>
    <li data-anim="zoom"><img src="/asset/img/campuslife/facility/facility04-img03.jpg" loading="lazy" alt="" width="600" height="400"></li>
  </ul>
</section>

<section class="p-campuslife__fa-group u-section" data-tour-stop="theater">
  <div class="head-img" data-anim="fade"><img src="/asset/img/campuslife/facility/facility05-img01.jpg" loading="lazy" alt="" width="780" height="520"></div>
  <div class="body">
    <h4 class="ttl" data-anim="fade-up"><span class="u-marker" data-marker>モダンで開放的な設計の</span><br><span class="u-marker" data-marker><span class="strong">カンファレンスシアター</span></span></h4>
    <p class="txt">最大200名を収容できるホールシアターでは、学内だけでなく地域イベントやセミナー開催など幅広く活用されています。</p>
  </div>
  <ul class="imgs" data-anim-group>
    <li data-anim="zoom"><img src="/asset/img/campuslife/facility/facility05-img02.jpg" loading="lazy" alt="" width="600" height="400"></li>
  </ul>
  <p class="img-catch" data-anim="fade-up"><img src="/asset/img/campuslife/facility/facility05-img02-txt.png" loading="lazy" alt="" width="345" height="105"></p>
</section>

<section class="p-campuslife__fa-group u-section" data-tour-stop="powder-room">
  <div class="head-img" data-anim="fade"><img src="/asset/img/campuslife/facility/facility06-img01.jpg" loading="lazy" alt="" width="780" height="520"></div>
  <div class="body">
    <h4 class="ttl" data-anim="fade-up"><span class="u-marker" data-marker>キレイで清潔感のある<span class="strong">パウダールーム</span></span></h4>
    <p class="txt">実習後や授業の合間に気兼ねなく身だしなみチェックやメイク直しが できるパウダールームです。</p>
  </div>
  <ul class="imgs" data-anim-group>
    <li data-anim="zoom"><img src="/asset/img/campuslife/facility/2026/facility06-img03.jpg" loading="lazy" alt="" width="290" height="290"></li>
    <li data-anim="zoom"><img src="/asset/img/campuslife/facility/facility06-img02.jpg" loading="lazy" alt="" width="510" height="340"></li>
  </ul>
</section>

{#- Pick up: 受賞歴・Netflixロケ地 -#}
<section class="p-campuslife__fa-pickup u-section" data-tour-stop="pickup">
  <div class="icon" data-anim="stamp"><img src="/asset/img/campuslife/facility/pickup-icon.png" loading="lazy" alt="Pick up" width="144" height="144"></div>
  <div class="p-campuslife__fa-pickup-group">
    <h4 class="ttl">
      <span class="badge" data-anim="stamp"><img src="/asset/img/campuslife/facility/2025/title-icon01.png" loading="lazy" alt="AWARD" width="129" height="70"></span>
      <span class="title" data-anim="fade-up">2023年北海道優秀照明施設賞受賞</span>
    </h4>
    <ul class="imgs" data-anim-group>
      <li data-anim="zoom"><img src="/asset/img/campuslife/facility/pickup01-img01.jpg" loading="lazy" alt="" width="540" height="360"></li>
      <li data-anim="zoom"><img src="/asset/img/campuslife/facility/pickup01-img02.jpg" loading="lazy" alt="" width="248" height="248"></li>
    </ul>
    <p class="catch" data-anim="fade-up"><img src="/asset/img/campuslife/facility/pickup01-catch.png" loading="lazy" alt="Received the Excellence in Lighting Award 2023" width="406" height="144"></p>
  </div>
  <div class="p-campuslife__fa-pickup-group">
    <h4 class="ttl">
      <span class="badge" data-anim="stamp"><img src="/asset/img/campuslife/facility/2025/title-icon02.png" loading="lazy" alt="" width="129" height="70"></span>
      <span class="title" data-anim="fade-up">Netflix配信<span class="u-marker" data-marker>さよならの続き</span>の<br>ロケ地になりました！</span>
    </h4>
    <ul class="imgs" data-anim-group>
      <li class="is-tall" data-anim="zoom"><img src="/asset/img/campuslife/facility/2025/pickup02-img01.jpg" loading="lazy" alt="" width="360" height="533"></li>
      <li data-anim="zoom"><img src="/asset/img/campuslife/facility/2025/pickup02-img02.jpg" loading="lazy" alt="" width="248" height="248"></li>
      <li data-anim="zoom"><img src="/asset/img/campuslife/facility/2025/pickup02-img03.jpg" loading="lazy" alt="" width="248" height="248"></li>
    </ul>
  </div>
</section>

{#- 最新設備が揃った学びの空間 -#}
<section class="p-campuslife__fa-learning u-section">
  <h3 class="p-campuslife__fa-learning-title" data-anim="fade-up"><span class="u-marker" data-marker>最新設備が揃った学びの空間</span></h3>
  {%- set rooms = [
    {stop: "nursing-room", name: "看護実習室", txt: "実際の病院と同様の設備環境を備えた実習室。安全・安楽な援助を提供するための看護技術を身につけます。",
     imgs: ["learning01-img01.jpg"]},
    {stop: "maternity-room", name: "母性・小児在宅看護実習室", txt: "保育器や小児用ベッド、沐浴槽を備え、主に母性看護・小児看護の演習を行います。また実際の住居に近い環境で、近年需要の増えている在宅でのケアを学ぶことができる環境も整っています。",
     imgs: ["learning02-img01.jpg", "learning02-img02.jpg", "learning02-img03.jpg"]},
    {stop: "orthoptics-room", name: "視能実習室", txt: "電子視力表や検査機器を使用し、最新の眼科医療を学ぶことができます。",
     imgs: ["learning03-img01.jpg", "learning03-img02.jpg"]},
    {stop: "orthoptics-darkroom", name: "視能実習室（暗室）", txt: "最新の眼科医療機器や道内養成校初の3D眼底カメラを備え、現場で必要な実践力を身につけます。",
     imgs: ["learning04-img01.jpg"]},
    {stop: "dental-unit-room", name: "歯科ユニット実習室", txt: "最新のデジタルユニットを備えた実習室。ルーペやデジタルツールを使った最先端の技術を修得します。",
     imgs: ["learning05-img01.jpg"]},
    {stop: "dental-phantom-room", name: "歯科ファントム実習室", txt: "一人一台の専用マネキンとモニターを使って基礎実習を行います。",
     imgs: ["learning06-img01.jpg", "learning06-img02.jpg"]},
    {stop: "clinical-engineering-room", name: "臨床工学実習室", txt: "人工透析機器、人工心肺装置など病院で使われる最新の医療機器を備え、体験型実習で様々な現場に対応できる技術と知識を学びます。",
     imgs: ["learning07-img01.jpg", "learning07-img02.jpg"]},
    {stop: "basic-engineering-room", name: "基礎工学実習室", txt: "医療機器の原理・構造を学習するために電気・電子工学の実習を行い、必要となってくる装置の基本を学びます。",
     imgs: ["learning08-img01.jpg"]}
  ] -%}
  {%- for room in rooms %}
  <div class="p-campuslife__fa-room{% if loop.index is even %} is-reverse{% endif %}" data-tour-stop="{{ room.stop }}">
    {%- if room.imgs | length > 1 %}
    <div class="swiper js-facility-slide" data-anim="fade">
      <div class="swiper-wrapper">
        {%- for img in room.imgs %}
        <div class="swiper-slide"><img src="/asset/img/campuslife/facility/{{ img }}" loading="lazy" alt="" width="700" height="466"></div>
        {%- endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
    {%- else %}
    <div class="img" data-anim="fade"><img src="/asset/img/campuslife/facility/{{ room.imgs[0] }}" loading="lazy" alt="" width="700" height="466"></div>
    {%- endif %}
    <div class="body" data-anim="fade-up">
      <p class="ttl">{{ room.name }}</p>
      <p class="txt">{{ room.txt }}</p>
    </div>
  </div>
  {%- endfor %}
</section>
