---
layout: page.njk
title: "★ICTオープンキャンパス☆よくある質問集"
description: "【看護師・視能訓練士・歯科衛生士・臨床工学技士】医療系に進むなら札幌看護医療専門学校！充実の設備×駅近×ICT教育で新たな医療を学ぶ。学校や学科の最新ニュースをお知らせします。"
breadcrumb: [{"label": "お知らせ", "url": "/news/"}, {"label": "★ICTオープンキャンパス☆よくある質問集"}]
bodyClass: p-article p-article-news
pageCss: /asset/css/pages/article.css
permalink: /news/2025/14270/index.html
---
{#artfix:mv:start#}
<section class="p-article__mv">
  <div class="p-article__mv-bg"><img src="/asset/img/news/2025/mv.jpg" alt="" width="740" height="330"></div>
  <div class="p-article__mv-title">
    <span class="text-wrap">
      <span class="en">NEWS</span>
      <span class="ja">お知らせ</span>
    </span>
  </div>
</section>
{#artfix:mv:end#}
<div class="p-article__inner">
  <article class="p-article__container">
    <header class="p-article__head" data-anim="fade-up">
      <div class="p-article__meta">
        <time class="p-article__date" datetime="2025-02-10">2025.02.10</time>
        <ul class="p-article__labels"><li><span class="p-article__label" data-cat="all_depts">全学科</span></li><li><span class="p-article__label" data-cat="event">イベント情報</span></li></ul>
      </div>
      <h1 class="p-article__ttl">★ICTオープンキャンパス☆よくある質問集</h1>
    </header>
    <div class="p-article__body">
{% raw %}<p><strong>ICTオープンキャンパスに関する<br />
よくあるご質問をまとめましたのでご確認ください！</strong></p>
<h2>交通費補助をもらうために、証明書は必要ですか</h2>
<div style="background-color: #edf7ff;"><strong>　証明書や学生証などなくても大丈夫です！<br />
初めてオーキャンに参加する高校生の方には<br />
事前申請もなしで交通費補助が利用できますよ。</strong></div>
<p>&nbsp;</p>
<h2>オープンキャンパスの持ち物や服装を教えてください。</h2>
<div style="background-color: #edf7ff;"><strong>　持ち物は特にないです。服装は私服でも制服でも大丈夫ですよ。<br />
無料送迎バスを利用する方は軽食があると便利です＾＾</strong></div>
<p>&nbsp;</p>
<h2>オープンキャンパスのランチは保護者や同行者もでますか</h2>
<div style="background-color: #edf7ff;"><strong>　保護者や同行者の方にもランチはでますのでご安心ください。</strong></div>
<p>&nbsp;</p>
<h2>一人でもオープンキャンパスに参加して大丈夫ですか</h2>
<div style="background-color: #edf7ff;"><strong>　一人でオープンキャンパスに参加されてる方もたくさんいますよ！<br />
在校生がいるので、安心して参加してくださいね。</strong></div>
<p>&nbsp;</p>
<h2>上靴は必要ですか</h2>
<div style="background-color: #edf7ff;"><strong>　上靴は必要ないです。手ぶらでお越しください＾＾</strong></div>
<p>&nbsp;</p>
<h2>まだ医療系に決めてなくてもオーキャン参加できますか？</h2>
<div style="background-color: #edf7ff;"><strong>　もちろんです！医療系に興味ある、まだ迷っている方も<br />
まずは是非ご参加ください★</strong></div>
<p>&nbsp;</p>
<h2>オーキャン予約をキャンセルや内容変更したい・・</h2>
<div style="background-color: #edf7ff;">
<p><strong>お申込み時に送られる確認メール記載のキャンセルフォームからご連絡ください。<br />
<a href="/form/event_cancel/">キャンセルフォーム</a></strong></p>
<p><a href="/news/2024/914/"><img loading="lazy" decoding="async" class="alignnone size-medium wp-image-14088" src="/asset/img/uploads/2024/11/e54b301df8f3e3f1c674164005f19f81.jpg" alt="" width="600" /></a></p>
</div>
<p>&nbsp;</p>
{% endraw %}
    </div>
    <p class="p-article__back"><a href="/news/" class="c-btn c-btn--yellow c-btn--arrow">お知らせ一覧へ戻る</a></p>
  </article>
    {#artfix:related:start#}
    <aside class="p-article__related" data-anim="fade-up">
      <h2 class="p-article__related-ttl">関連記事</h2>
      <ul class="p-article__related-list">
        <li><a href="/news/2026/19029/" class="p-article__related-item">
          <div class="p-article__related-img"><img src="/asset/img/wp/noimage.png" alt="" width="260" height="150" loading="lazy"></div>
          <div class="p-article__related-txt">
            <time datetime="2026-07-16">2026.07.16</time>
            <p class="p-article__related-name">私は看護師になれる…？進路に迷う高校生応援企画開催決定✨</p>
            <ul class="p-article__labels"><li><span class="p-article__label" data-cat="all_depts">全学科</span></li><li><span class="p-article__label" data-cat="information">お知らせ</span></li><li><span class="p-article__label" data-cat="event">イベント情報</span></li></ul>
          </div>
        </a></li>
        <li><a href="/news/2026/18039/" class="p-article__related-item">
          <div class="p-article__related-img"><img src="/asset/img/wp/noimage.png" alt="" width="260" height="150" loading="lazy"></div>
          <div class="p-article__related-txt">
            <time datetime="2026-07-15">2026.07.15</time>
            <p class="p-article__related-name">【2026年8月】全道８地区で出張オープンキャンパス開催☆</p>
            <ul class="p-article__labels"><li><span class="p-article__label" data-cat="all_depts">全学科</span></li><li><span class="p-article__label" data-cat="information">お知らせ</span></li><li><span class="p-article__label" data-cat="event">イベント情報</span></li></ul>
          </div>
        </a></li>
        <li><a href="/news/2026/18962/" class="p-article__related-item">
          <div class="p-article__related-img"><img src="/asset/img/wp/noimage.png" alt="" width="260" height="150" loading="lazy"></div>
          <div class="p-article__related-txt">
            <time datetime="2026-07-13">2026.07.13</time>
            <p class="p-article__related-name">7/25.26進路に迷ってる方必見★特別プログラム開催！</p>
            <ul class="p-article__labels"><li><span class="p-article__label" data-cat="all_depts">全学科</span></li><li><span class="p-article__label" data-cat="event">イベント情報</span></li></ul>
          </div>
        </a></li>
      </ul>
    </aside>
    {#artfix:related:end#}
    {#artfix:school:start#}
    <section class="p-article__school" data-anim="fade-up">
      <p class="p-article__school-logo"><a href="/"><img src="/asset/img/share/logo.png" alt="札幌看護医療専門学校" width="476" height="80" loading="lazy"></a></p>
      <p class="p-article__school-address">〒004-0051<br>札幌市厚別区厚別中央1条5丁目1番5号</p>
      <p class="p-article__school-tel">TEL：011-801-8343（代表番号）<br>FAX：011-801-8345<br>フリーダイヤル：0120-37-8343</p>
      <ul class="p-article__school-btns">
        <li><a href="/form/inquiry/" class="c-btn c-btn--yellow c-btn--arrow">お問い合わせ</a></li>
        <li><a href="/school/access/" class="c-btn c-btn--arrow">アクセス</a></li>
      </ul>
    </section>
    {#artfix:school:end#}
</div>
