---
layout: page.njk
title: "いよいよ2026AO入試スタート！"
description: "【看護師・視能訓練士・歯科衛生士・臨床工学技士】医療系に進むなら札幌看護医療専門学校！充実の設備×駅近×ICT教育で新たな医療を学ぶ。学校や学科の最新ニュースをお知らせします。"
breadcrumb: [{"label": "お知らせ", "url": "/news/"}, {"label": "いよいよ2026AO入試スタート！"}]
bodyClass: p-article p-article-news
pageCss: /asset/css/pages/article.css
permalink: /news/2026/14409/index.html
---
<div class="p-article__inner">
  <article class="p-article__container">
    <header class="p-article__head" data-anim="fade-up">
      <div class="p-article__meta">
        <time class="p-article__date" datetime="2026-05-25">2026.05.25</time>
        <ul class="p-article__labels"><li><span class="p-article__label" data-cat="all_depts">全学科</span></li><li><span class="p-article__label" data-cat="admission">入試情報</span></li></ul>
      </div>
      <h1 class="p-article__ttl">いよいよ2026AO入試スタート！</h1>
    </header>
    <div class="p-article__body">
{% raw %}<p><center><img loading="lazy" decoding="async" class="alignnone size-medium wp-image-18544" src="/asset/img/uploads/2026/05/90803dc1b6aa14f2adb197cc2030d8db.png" alt="" width="600" /></center></p>
<h1>いよいよ、<span style="font-size: medium;"><u>6月1日(月)からAO入試がスタート！</u></span></h1>
<div style="background-color: #ffffe0; margin: 20px; padding: 20px;">AO入試（アドミッションズ・オフィス入試）は、あなたの「やる気」「適性」と本校が求める学生像(アドミッション・ポリシー)と照らし合わせ、面談をしながら、入学を決める選考方法です。<br />
対象学科：視能訓練士学科、歯科衛生士学科、臨床工学技士学科</div>
<p><strong><br />
そこで、AO入試について<span style="color: blue;">よく頂く質問</span>を⬇️⬇️にまとめました！</strong></p>
<p>エントリーする前にCheckしてね🫶</p>
<h1>Q1.エントリーシート入力したのに完了メールが届かない、、</h1>
<div style="background-color: whitesmoke;"><span style="font-size: medium;">A1.</span> 拒否設定になっていませんか？<br />
<a href="mailto:info@snm.ac.jp" target="_blank" rel="noopener">info@snm.ac.jp</a>からのメールを受信許可してね<br />
ゴミ箱にメール入っているかも！</div>
<p>&nbsp;</p>
<h1>Q2.写真や承諾書をアップロードできない、、</h1>
<div style="background-color: whitesmoke;"><span style="font-size: medium;">A2.</span> SafariやChromeなどのブラウザを変更して試してみて下さい！それでも出来ない時は、学校LINEに連絡＆送信でも大丈夫です＾＾</div>
<p>&nbsp;</p>
<h1>Q3.写真は証明写真のデータですか？</h1>
<div style="background-color: whitesmoke;"><span style="font-size: medium;">A3.</span> 証明写真でなくても大丈夫です！<br />
無背景・無帽・制服又は正装・正面上半身<br />
頭が切れていなければ携帯などで撮影した写真でもOKです！</div>
<p>&nbsp;</p>
<h1>Q4.AOエントリーシートが印刷できない、、</h1>
<div style="background-color: whitesmoke;"><span style="font-size: medium;">A4.</span> 携帯の【ファイル】の中を確認して印刷しましょう！</div>
<p>よくある質問が出てきたら、随時追加していきますね☺️</p>
<p><span style="color: red;">AO入試は定員に達した学科から、募集締切になります！</span><br />
AO入試で受験したかったのに、受験できなかった、、<br />
という事がない様に余裕をもって準備しておきましょう！</p>
<p style="text-align: center;"><strong><span style="font-size: 13pt;"><mark>＼AO入試徹底解説プログラム開催日／</mark></span></strong></p>
<p style="text-align: center;"><span style="font-size: 13pt;"><strong>7/25(土)11:15～14:30</span></strong><br />
(受付時間11:00～11:15)</p>
<p><center><a class="c-btn c-btn--accent c-btn--arrow" href="/form/event/?event=2026/07/25(%E5%9C%9F)%20-%20%E3%80%9011:15%E9%96%8B%E5%A7%8B%E3%80%91%E3%83%A9%E3%83%B3%E3%83%81%E4%BB%98%E2%98%86ICT%E3%82%AA%E3%83%BC%E3%83%97%E3%83%B3%E3%82%AD%E3%83%A3%E3%83%B3%E3%83%91%E3%82%B9%E3%80%8A%E7%89%B9%E5%88%A5%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%A0%E9%96%8B%E5%82%AC%E6%97%A5%E3%80%8B">7/25(土)イベントに申し込む</a></center></p>
<p style="text-align: center;"><span style="font-size: 13pt;"><strong>7/26(日)12:00～15:00</span></strong><br />
(受付時間11:45～12:00)</p>
<p><center><a class="c-btn c-btn--accent c-btn--arrow" href="/form/event/?event=2026/07/26(%E6%97%A5)%20-%20%E3%80%9012:00%E9%96%8B%E5%A7%8B%E3%80%91%E3%82%AA%E3%83%BC%E3%83%97%E3%83%B3%E3%82%AD%E3%83%A3%E3%83%B3%E3%83%91%E3%82%B9%E3%80%8A%E7%89%B9%E5%88%A5%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%A0%E9%96%8B%E5%82%AC%E6%97%A5%E3%80%8B">7/26(日)イベントに申し込む</a></center><br />
&nbsp;</p>
<p><center><strong><span style="color: #ff1493;">＼AO入試で受験する方ここからスタート！／</span></strong><br />
<a class="c-btn c-btn--accent c-btn--arrow" href="https://webappform.jikei.com/entry/?sid=snm" target="_blank" rel="noopener noreferrer">AOエントリーはこちら </a></center>&nbsp;</p>
<h3>何か困ったら、いつでもLINEしてね</h3>
<p><a href="/news/2023/914/"><img loading="lazy" decoding="async" class="alignnone size-medium wp-image-16329" src="/asset/img/uploads/2025/10/44b7e0a26efb8ac4b5bc80313f5d19ff.jpg" alt="" width="600" /></a></p>
{% endraw %}
    </div>
    <p class="p-article__back"><a href="/news/" class="c-btn c-btn--yellow c-btn--arrow">お知らせ一覧へ戻る</a></p>
  </article>
</div>
