---
layout: page.njk
title: "歯科衛生士学科に興味ある方必見✨《特別プログラム開催》"
description: "【看護師・視能訓練士・歯科衛生士・臨床工学技士】医療系に進むなら札幌看護医療専門学校！充実の設備×駅近×ICT教育で新たな医療を学ぶ。学校や学科の最新ニュースをお知らせします。"
breadcrumb: [{"label": "お知らせ", "url": "/news/"}, {"label": "歯科衛生士学科に興味ある方必見✨《特別プログラム開催》"}]
bodyClass: p-article p-article-news
pageCss: /asset/css/pages/article.css
permalink: /news/2026/17933/index.html
---
<div class="p-article__inner">
  <article class="p-article__container">
    <header class="p-article__head" data-anim="fade-up">
      <div class="p-article__meta">
        <time class="p-article__date" datetime="2026-05-08">2026.05.08</time>
        <ul class="p-article__labels"><li><span class="p-article__label" data-cat="dentalhygienists">歯科衛生士学科</span></li><li><span class="p-article__label" data-cat="information">お知らせ</span></li><li><span class="p-article__label" data-cat="event">イベント情報</span></li></ul>
      </div>
      <h1 class="p-article__ttl">歯科衛生士学科に興味ある方必見✨《特別プログラム開催》</h1>
    </header>
    <div class="p-article__body">
{% raw %}<h3><strong><span style="font-size: 14pt;">✨キレイな歯でミライを笑顔で彩ろう✨</span></strong></h3>
<p><span style="color: #3366ff;"><strong><span style="font-size: 14pt;">【審美歯科】特別プログラム</span></strong></span></p>
<p><a target="_blank" rel="noopener" href="/asset/img/uploads/2026/03/coupon.png"><img loading="lazy" fetchpriority="high" decoding="async" class="alignnone size-full wp-image-17934" src="/asset/img/uploads/2026/03/coupon.png" alt="" width="1040" height="1040" /></a></p>
<p><span style="background-color: #ffff99;"><strong><span style="font-size: 14pt; background-color: #ffff99;">◆「ホワイトニング・デンタルエステ専攻」って？<br />
</span></strong></span>　一緒にホワイトニングの裏側も学べる！札幌看護医療の特徴の「ホワイトニング・デンタルエステ専攻」の学びを体感できます＾＾</p>
<p><span style="background-color: #ffff99;"><strong><span style="font-size: 14pt; background-color: #ffff99;">◆「審美歯科」って？</span></strong></span></p>
<p>近年人気の審美歯科。どんなことやるの？審美歯科について『知れる!&amp;体験できる!』特別プログラム✨知識を深めながら歯をキレイにしてみよう＾＾</p>
<p>&nbsp;</p>
<p><strong><span style="font-size: 14pt; background-color: #ff99cc;">【開催日程】</span><br />
</strong><strong><span style="font-size: 14pt;">6月20日（土）12:00～15:00</span></strong></p>
<p><center><a class="c-btn c-btn--accent c-btn--arrow" href="/form/event/?event=2026/06/20(%E5%9C%9F)%20-%20%E3%80%9012:00%E9%96%8B%E5%A7%8B%E3%80%91ICT%E3%82%AA%E3%83%BC%E3%83%97%E3%83%B3%E3%82%AD%E3%83%A3%E3%83%B3%E3%83%91%E3%82%B9%E3%80%8A%E7%89%B9%E5%88%A5%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%A0%E9%96%8B%E5%82%AC%E6%97%A5%E3%80%8B">この特別イベントに申し込む </a></center><br />
<strong><span style="font-size: 14pt;">8月2日（日）12:00～15:00</span></strong></p>
<p><center><a class="c-btn c-btn--accent c-btn--arrow" href="/form/event/?event=2026/08/02(%E6%97%A5)%20-%20%E3%80%9012:00%E9%96%8B%E5%A7%8B%E3%80%91ICT%E3%82%AA%E3%83%BC%E3%83%97%E3%83%B3%E3%82%AD%E3%83%A3%E3%83%B3%E3%83%91%E3%82%B9">この特別イベントに申し込む </a></center><br />
<strong><span style="font-size: 14pt;">8月22日（土）12:00～15:00</span></strong></p>
<p><center><a class="c-btn c-btn--accent c-btn--arrow" href="/form/event/?event=2026/08/22(%E5%9C%9F)%20-%20%E3%80%9012:00%E9%96%8B%E5%A7%8B%E3%80%91ICT%E3%82%AA%E3%83%BC%E3%83%97%E3%83%B3%E3%82%AD%E3%83%A3%E3%83%B3%E3%83%91%E3%82%B9">この特別イベントに申し込む </a></center><br />
<strong><span style="font-size: 14pt;">9月26日（土）12:00～15:00</span></strong></p>
<p><center><a class="c-btn c-btn--accent c-btn--arrow" href="/form/event/?event=2026/09/26(%E5%9C%9F)%20-%20%E3%80%9012:00%E9%96%8B%E5%A7%8B%E3%80%91ICT%E3%82%AA%E3%83%BC%E3%83%97%E3%83%B3%E3%82%AD%E3%83%A3%E3%83%B3%E3%83%91%E3%82%B9">この特別イベントに申し込む </a></center><br />
<strong>※ICTオープンキャンパスの時間内で<span style="color: #ff00ff;">審美歯科体験</span>となります。ICTオープンキャンパスについては、<a href="/opencampus/">コチラから！</a><br />
</strong></p>
<p>&nbsp;</p>
<p><span style="background-color: #ffcc00;"><strong><span style="font-size: 14pt; background-color: #ffcc00;">【全道各地から無料送迎バス】</span></strong></span></p>
<p><span style="font-size: 10pt;">キャンパス直行バスで迷わない！保護者やお友達との利用もOK  ※無料送迎バスの詳細は以下からご確認ください</span></p>
<p><a href="/opencampus/bus/"><img loading="lazy" decoding="async" class="alignnone size-medium wp-image-14665" src="/asset/img/uploads/2025/03/2e5431336344593b9153b4c281438924.png" alt="" width="600" /></a></p>
<p>&nbsp;</p>
<p><strong><span style="font-size: 14pt; background-color: #ffcc00;">【交通費補助】</span></strong>初めての方には交通補助あり！ ※交通費の詳細は以下からご確認ください<br />
<a href="/opencampus/subsidy_list/"><img loading="lazy" decoding="async" class="aligncenter size-medium wp-image-8480" src="/asset/img/uploads/2023/01/banner-subsidy-600x301.jpg" alt="" width="600" height="301" /></a></p>
<p>&nbsp;</p>
<p><strong><span style="font-size: 14pt; background-color: #ffcc00;">【入試パーフェクトBOOK】 プレゼント中✨</span><br />
</strong>入試に関する詳細や模擬問題など㊙︎情報が満載！オープンキャンパスでしか配布していないので</p>
<p>&nbsp;</p>
{% endraw %}
    </div>
    <p class="p-article__back"><a href="/news/" class="c-btn c-btn--yellow c-btn--arrow">お知らせ一覧へ戻る</a></p>
  </article>
</div>
