---
layout: page.njk
title: "【2026年8月】全道８地区で出張オープンキャンパス開催☆"
description: "【看護師・視能訓練士・歯科衛生士・臨床工学技士】医療系に進むなら札幌看護医療専門学校！充実の設備×駅近×ICT教育で新たな医療を学ぶ。学校や学科の最新ニュースをお知らせします。"
breadcrumb: [{"label": "お知らせ", "url": "/news/"}, {"label": "【2026年8月】全道８地区で出張オープンキャンパス開催☆"}]
bodyClass: p-article p-article-news
pageCss: /asset/css/pages/article.css
permalink: /news/2026/18039/index.html
---
{#artfix:mv:start#}
<section class="p-article__mv">
  <div class="p-article__mv-bg"><img src="/asset/img/news/2025/mv.jpg" alt="" width="740" height="330"></div>
  <div class="p-article__mv-title">
    <span class="text-wrap">
      <span class="en">NEWS</span>
      <span class="ja">お知らせ</span>
    </span>
  </div>
</section>
{#artfix:mv:end#}
<div class="p-article__inner">
  <article class="p-article__container">
    <header class="p-article__head" data-anim="fade-up">
      <div class="p-article__meta">
        <time class="p-article__date" datetime="2026-07-15">2026.07.15</time>
        <ul class="p-article__labels"><li><span class="p-article__label" data-cat="all_depts">全学科</span></li><li><span class="p-article__label" data-cat="information">お知らせ</span></li><li><span class="p-article__label" data-cat="event">イベント情報</span></li></ul>
      </div>
      <h1 class="p-article__ttl">【2026年8月】全道８地区で出張オープンキャンパス開催☆</h1>
    </header>
    <div class="p-article__body">
{% raw %}<p>札幌看護医療専門学校があなたの街に行きます！</p>
<p>出張なんでも相談会 開催決定！</p>
<p><center><a target="_blank" rel="noopener" href="/asset/img/uploads/2026/04/df73689b9494d99ac89bc62043aede78.png"><img loading="lazy" fetchpriority="high" decoding="async" class="alignnone size-full wp-image-18040" src="/asset/img/uploads/2026/04/df73689b9494d99ac89bc62043aede78.png" alt="" width="1040" height="1040" /></a></center><br />
<strong><span style="color: #3366ff;">札幌看護医療専門学校が皆さんの街に行きます！</span></strong></p>
<p><span style="color: #ff0000;"><strong>室蘭・釧路・北見・函館・中標津・紋別・帯広・稚内の全道8地区で開催☆</strong></span></p>
<h3>出張オープンキャンパスでは</h3>
<p>◎オープンキャンパスと同じで『学校のこと』『学科のこと』を担当者と<strong>個別</strong>にお話もできる！</p>
<p>◎医療のお仕事体験もできちゃう！</p>
<p>（※稚内会場は相談会のみの実施となります）</p>
<p>◎<strong>ちょっと話だけ聞きたい</strong>方も大歓迎！</p>
<p>◎<strong>学校生活</strong>や<strong>入試</strong>についても知れる（学生寮や一人暮らし、施設設備など）</p>
<p>◎<strong>学費</strong>・<strong>奨学金</strong>について聞ける（本校は修学支援制度の対象校です）</p>
<p>◎<strong>一人参加</strong>も、<strong>友達との参加</strong>も、<strong>保護者</strong>の方の参加も大歓迎です＾＾</p>
<p>◎所要時間<strong>30～60分</strong>(相談内容や量によって変わります)</p>
<p>◎姉妹校(<strong>美容・製菓・エコ・ハイテク</strong>)の話も聞けちゃう！</p>
<p><span style="color: #ff00ff;"><strong>少しでも興味ある方は、とりあえず参加してみよう★</strong></span></p>
<h2>出張オープンキャンパス 参加特典★プレゼント！</h2>
<p>◎参加してくれて、ありがとう！</p>
<p><strong><span style="color: #0000ff;">　<span style="font-size: 12pt;">QUOカード５００円分 プレゼント</span></span><span style="color: #0000ff;">✨</span></strong></p>
<p>◎<strong>次回オーキャン来校時に使える！</strong><br />
<span style="color: blue; font-size: medium;"><strong><span style="font-size: 14pt;">　<span style="font-size: 12pt;">交通費全額補助チケット</span></span><span style="font-size: 12pt;"> プレゼント</span>✨<br />
</strong></span></p>
<p>◎<strong>入試に備えよう</strong><br />
<span style="color: blue; font-size: 12pt;"><strong>「AO入試」エントリー資格が得られる！</strong></span></p>
<p>&nbsp;</p>
<p style="text-align: center;"><strong>＼この機会にぜひご活用ください＾＾／</strong></p>
<p><center><a class="c-btn c-btn--accent c-btn--arrow" href="/form/briefing/">出張オープンキャンパスに申し込む</a></center>&nbsp;</p>
<h3>開催日時/会場一覧</h3>
<p><strong>2026年8月</strong></p>
<div class="p-article__tbl-scroll"><table class="common-tbl" style="width: 100%; height: 216px;">
<tbody>
<tr style="height: 24px;">
<th class="w-1/5" style="height: 24px; width: 16.27907%;">月日</th>
<th class="w-1/5" style="height: 24px; width: 13.45515%;">受付時間</th>
<th class="w-1/5" style="height: 24px; width: 11.129568%;">開催地区</th>
<th class="w-2/5" style="height: 24px; width: 56.976744%;">会場</th>
</tr>
<tr style="height: 24px;">
<td class="text-center" style="height: 24px; width: 16.27907%;">8月3日(月)</td>
<td class="text-center" style="height: 24px; width: 13.45515%;">10:00～14:00</td>
<td class="text-center" style="height: 24px; text-align: center; width: 11.129568%;">釧路地区</td>
<td class="text-center" style="height: 24px; width: 56.976744%;">釧路市交流プラザ「さいわい」　<a href="https://kushiro-bunka.or.jp/saiwai/access.html" target="_blank" rel="noopener noreferrer"><strong>MAP</strong></a></td>
</tr>
<tr style="height: 24px;">
<td class="text-center" style="height: 24px; width: 16.27907%;">8月3日(月)</td>
<td class="text-center" style="height: 24px; width: 13.45515%;">13:00～17:00</td>
<td class="text-center" style="height: 24px; text-align: center; width: 11.129568%;">北見地区</td>
<td class="text-center" style="height: 24px; width: 56.976744%;">北ガス市民ホール「北見市民会館」 　<strong><a href="https://www.kitami-hall.jp/shimin-hall/" target="_blank" rel="noopener">MAP</a></strong></td>
</tr>
<tr style="height: 24px;">
<td class="text-center" style="height: 24px; width: 16.27907%;">8月3日(月)</td>
<td class="text-center" style="height: 24px; width: 13.45515%;">14:00～16:00</td>
<td class="text-center" style="height: 24px; text-align: center; width: 11.129568%;">室蘭地区</td>
<td class="text-center" style="height: 24px; width: 56.976744%;">FKホールディングス生涯学習センター「きらん」 　<a href="https://muroran-kiran.net/" target="_blank" rel="noopener noreferrer"><strong>MAP</strong></a></td>
</tr>
<tr style="height: 24px;">
<td class="text-center" style="height: 24px; width: 16.27907%;">8月4日(火)</td>
<td class="text-center" style="height: 24px; width: 13.45515%;">10:00～13:00</td>
<td class="text-center" style="height: 24px; text-align: center; width: 11.129568%;">紋別地区</td>
<td class="text-center" style="height: 24px; width: 56.976744%;">紋別市民会館(紋別市中央公民館)　<strong><a href="https://mombetsu.jp/education/?content=283" target="_blank" rel="noopener">MAP</a></strong></td>
</tr>
<tr style="height: 24px;">
<td class="text-center" style="height: 24px; width: 16.27907%;">8月4日(火)</td>
<td class="text-center" style="height: 24px; width: 13.45515%;">10:00～14:00</td>
<td class="text-center" style="height: 24px; text-align: center; width: 11.129568%;">中標津地区</td>
<td class="text-center" style="height: 24px; width: 56.976744%;">中標津町総合文化会館「しるべっと」　<a href="http://www.zncs.or.jp/shirubetto/" target="_blank" rel="noopener noreferrer"><strong>MAP</strong></a></td>
</tr>
<tr style="height: 24px;">
<td class="text-center" style="height: 24px; width: 16.27907%;">8月4日(火)</td>
<td class="text-center" style="height: 24px; width: 13.45515%;">11:00～14:00</td>
<td class="text-center" style="height: 24px; text-align: center; width: 11.129568%;">函館地区</td>
<td class="text-center" style="height: 24px; width: 56.976744%;">函館コミュニティプラザ「Gスクエア」 　<strong><a href="https://g-sq.jp/" target="_blank" rel="noopener">MAP</a></strong></td>
</tr>
<tr style="height: 24px;">
<td class="text-center" style="height: 24px; width: 16.27907%;">8月5日(水)</td>
<td class="text-center" style="height: 24px; width: 13.45515%;">10:00～14:00</td>
<td class="text-center" style="height: 24px; text-align: center; width: 11.129568%;">帯広地区</td>
<td class="text-center" style="height: 24px; width: 56.976744%;">とかちプラザ　<a href="https://okamotopbc.jp/tokachi-plaza/" target="_blank" rel="noopener noreferrer"><strong>MAP</strong></a></td>
</tr>
<tr style="height: 24px;">
<td class="text-center" style="height: 24px; width: 16.27907%;">8月5日(水)</td>
<td class="text-center" style="height: 24px; width: 13.45515%;">14:00～17:00</td>
<td class="text-center" style="height: 24px; text-align: center; width: 11.129568%;">稚内地区</td>
<td class="text-center" style="height: 24px; width: 56.976744%;">稚内市生涯学習総合支援センター「風〜るわっかない」　<strong><a href="https://www.city.wakkanai.hokkaido.jp/kyoiku/kakusyushisetsu/syougaisenta.html" target="_blank" rel="noopener">MAP</a></strong></p>
<p>※相談会のみ</td>
</tr>
</tbody>
</table></div>
<h6>※所要時間は30~60分です(相談の内容により異なります)。</h6>
<h6>※ご予約状況によっては、ご希望の時間での開催が難しく、時間変更のお願いをさせて頂く可能性があります。</h6>
<p>&nbsp;</p>
<p><center><a class="c-btn c-btn--accent c-btn--arrow" href="/form/briefing/">出張オープンキャンパスに申し込む</a></center>&nbsp;</p>
<h5>★お問い合わせは<a href="https://line.me/R/ti/p/%40647fguij" target="_blank" rel="noopener noreferrer"><u>LINE</u></a>からでも可能！友達追加し、質問をお願いします。</h5>
<p><a href="/news/2023/914/"><img loading="lazy" decoding="async" class="alignnone size-medium wp-image-16329" src="/asset/img/uploads/2025/10/44b7e0a26efb8ac4b5bc80313f5d19ff.jpg" alt="" width="600" /></a></p>
<p>&nbsp;</p>
{% endraw %}
    </div>
    <p class="p-article__back"><a href="/news/" class="c-btn c-btn--yellow c-btn--arrow">お知らせ一覧へ戻る</a></p>
  </article>
    {#artfix:related:start#}
    <aside class="p-article__related" data-anim="fade-up">
      <h2 class="p-article__related-ttl">関連記事</h2>
      <ul class="p-article__related-list">
        <li><a href="/news/2026/19029/" class="p-article__related-item">
          <div class="p-article__related-img"><img src="/asset/img/wp/noimage.png" alt="" width="260" height="150" loading="lazy"></div>
          <div class="p-article__related-txt">
            <time datetime="2026-07-16">2026.07.16</time>
            <p class="p-article__related-name">私は看護師になれる…？進路に迷う高校生応援企画開催決定✨</p>
            <ul class="p-article__labels"><li><span class="p-article__label" data-cat="all_depts">全学科</span></li><li><span class="p-article__label" data-cat="information">お知らせ</span></li><li><span class="p-article__label" data-cat="event">イベント情報</span></li></ul>
          </div>
        </a></li>
        <li><a href="/news/2026/18962/" class="p-article__related-item">
          <div class="p-article__related-img"><img src="/asset/img/wp/noimage.png" alt="" width="260" height="150" loading="lazy"></div>
          <div class="p-article__related-txt">
            <time datetime="2026-07-13">2026.07.13</time>
            <p class="p-article__related-name">7/25.26進路に迷ってる方必見★特別プログラム開催！</p>
            <ul class="p-article__labels"><li><span class="p-article__label" data-cat="all_depts">全学科</span></li><li><span class="p-article__label" data-cat="event">イベント情報</span></li></ul>
          </div>
        </a></li>
        <li><a href="/news/2026/19084/" class="p-article__related-item">
          <div class="p-article__related-img"><img src="/asset/img/wp/noimage.png" alt="" width="260" height="150" loading="lazy"></div>
          <div class="p-article__related-txt">
            <time datetime="2026-07-13">2026.07.13</time>
            <p class="p-article__related-name">7/25.26視能訓練士✕医療事務WライセンスSPイベント開催！</p>
            <ul class="p-article__labels"><li><span class="p-article__label" data-cat="orthoptist">視能訓練士学科</span></li><li><span class="p-article__label" data-cat="information">お知らせ</span></li><li><span class="p-article__label" data-cat="event">イベント情報</span></li><li><span class="p-article__label" data-cat="press-release">プレスリリース</span></li></ul>
          </div>
        </a></li>
      </ul>
    </aside>
    {#artfix:related:end#}
    {#artfix:school:start#}
    <section class="p-article__school" data-anim="fade-up">
      <p class="p-article__school-logo"><a href="/"><img src="/asset/img/share/logo.png" alt="札幌看護医療専門学校" width="476" height="80" loading="lazy"></a></p>
      <p class="p-article__school-address">〒004-0051<br>札幌市厚別区厚別中央1条5丁目1番5号</p>
      <p class="p-article__school-tel">TEL：011-801-8343（代表番号）<br>FAX：011-801-8345<br>フリーダイヤル：0120-37-8343</p>
      <ul class="p-article__school-btns">
        <li><a href="/form/inquiry/" class="c-btn c-btn--yellow c-btn--arrow">お問い合わせ</a></li>
        <li><a href="/school/access/" class="c-btn c-btn--arrow">アクセス</a></li>
      </ul>
    </section>
    {#artfix:school:end#}
</div>
