---
layout: page.njk
title: "6月27日(土)札幌看護医療【学園祭・ウェルネスフェス】開催！"
description: "【看護師・視能訓練士・歯科衛生士・臨床工学技士】医療系に進むなら札幌看護医療専門学校！充実の設備×駅近×ICT教育で新たな医療を学ぶ。学校や学科の最新ニュースをお知らせします。"
breadcrumb: [{"label": "お知らせ", "url": "/news/"}, {"label": "6月27日(土)札幌看護医療【学園祭・ウェルネスフェス】開催！"}]
bodyClass: p-article p-article-news
pageCss: /asset/css/pages/article.css
permalink: /news/2026/18407/index.html
---
<div class="p-article__inner">
  <article class="p-article__container">
    <header class="p-article__head" data-anim="fade-up">
      <div class="p-article__meta">
        <time class="p-article__date" datetime="2026-05-26">2026.05.26</time>
        <ul class="p-article__labels"><li><span class="p-article__label" data-cat="all_depts">全学科</span></li><li><span class="p-article__label" data-cat="information">お知らせ</span></li><li><span class="p-article__label" data-cat="event">イベント情報</span></li><li><span class="p-article__label" data-cat="press-release">プレスリリース</span></li><li><span class="p-article__label" data-cat="region">地域</span></li></ul>
      </div>
      <h1 class="p-article__ttl">6月27日(土)札幌看護医療【学園祭・ウェルネスフェス】開催！</h1>
    </header>
    <div class="p-article__body">
{% raw %}<p><strong><span style="font-size: 14pt; color: #ff00ff;">学園祭</span></strong><span style="font-size: 14pt; color: #000000;">・</span><strong><span style="color: #ff6600; font-size: 14pt;">ウェルネスフェス<span style="color: #333333;">開催！</span></span></strong></p>
<p><strong><span style="color: #ff6600; font-size: 14pt;"><span style="color: #333333;"><span style="font-size: 12pt;">～</span></span></span></strong><span style="font-size: 12pt;"><span style="color: #ff6600;"><span style="color: #000000;">医療を学ぶ私たちらしく、地域</span></span><span style="color: #000000;">のみなさんに広く楽しんでもらえるイベントを目指します～</span></span></p>
<p><strong>新さっぽろ企業さんや姉妹校にも協力してもらい、子どもから大人まで楽しめるコンテンツがパワーアップ！<br />
予約不要（高校生の方のみ事前予約で特典あり）＆入退場自由です✨是非みなさん来てください＾＾</strong></p>
<p><a target="_blank" rel="noopener" href="/asset/img/uploads/2026/05/991365a5fdcbd5ddebf96efe191c81e4.jpg"><img loading="lazy" fetchpriority="high" decoding="async" class="alignnone size-full wp-image-18539" src="/asset/img/uploads/2026/05/991365a5fdcbd5ddebf96efe191c81e4.jpg" alt="" width="1000" height="2000" /></a></p>
<p><strong><span style="background-color: #ffff00; font-size: 14pt;">6/27（土）10:30〜15:00 （最終受付：14:30）</span></strong></p>
<p><strong><span style="background-color: #ffff00; font-size: 14pt;">予約不要（高校生の方のみ事前予約で特典あり）＆入退場自由</span></strong></p>
<p><span style="background-color: #ffff00; color: #ff00ff; font-size: 14pt;"><strong>※受付時に事前にお送りするLINE画面を提示してください！</strong></span></p>
<p><span style="background-color: #ffff00; font-size: 14pt; color: #ff0000;"><strong>※現金のみ使用可能です！</strong></span></p>
<p><span style="background-color: #ffff00; font-size: 14pt; color: #ff0000;"><strong>※校舎内はすべて禁煙・アルコール禁止です！</strong></span></p>
<p><strong>※12:00~/13:00~看護学科&amp;入試説明開催！</strong></p>
<p><strong>希望者は気になる学科のことや入試のことも個別でしっかり聞けます＾＾</strong></p>
<p><strong>※学園祭中に希望者は個別相談も可能ですので、</strong><strong>来校時に申し付けください！</strong></p>
<p>※当日プログラムが変更となる可能性があります。<br />
<strong>※<span style="color: #ff0000;">当日駐車場は使用できません</span>ので、公共交通機関をご利用いただくか近くのコインパーキングにお停めください。</strong></p>
<h2>学生屋台　健康を考慮したウェルネスメニュー ぜんぶ公開！！！</h2>
<p><span style="color: #ff00ff;"><strong>敷物（レジャーシート）持参で、敷地内の芝生で飲食OK（校内にも飲食ブースあり）</strong></span></p>
<div class="p-article__tbl-scroll"><table style="width: 95.9405%; height: 1288px;" width="404">
<tbody>
<tr style="height: 24px;">
<td style="height: 24px; width: 40%;" bgcolor="#f8f8ff"><strong>学科・学年</strong></td>
<td style="height: 24px; width: 35%;" bgcolor="#f8f8ff"><strong>MENU</strong></td>
<td style="height: 24px; width: 25%;" bgcolor="#f8f8ff"><strong>金額</strong></td>
</tr>
<tr style="height: 45px;">
<td style="height: 41px; width: 40%;"><span style="color: #ff8c00;"><strong>看護学科1年A組</strong></span></td>
<td style="height: 41px; width: 35%;">フライドポテト</td>
<td style="height: 41px; width: 25%;">300円</td>
</tr>
<tr style="height: 48px;">
<td style="height: 44px; width: 40%;"><span style="color: #ff8c00;"><strong>看護学科1年B組</strong></span></td>
<td style="height: 44px; width: 35%;">焼き鳥</td>
<td style="height: 41px; width: 25%;">2本250円</td>
</tr>
<tr style="height: 63px;">
<td style="height: 59px; width: 40%;"><span style="color: #ff8c00;"><strong>看護学科2年A組①</strong></span></td>
<td style="height: 59px; width: 35%;">たこ焼き</p>
<p>たこのみ焼き</td>
<td style="height: 41px; width: 25%;">300~400円</p>
<p>500円</td>
</tr>
<tr style="height: 96px;">
<td style="height: 92px; width: 40%;"><span style="color: #ff8c00;"><strong>看護学科2年A組②</strong></span></td>
<td style="height: 92px; width: 35%;">フルーツけずり</td>
<td style="height: 41px; width: 25%;">500円</td>
</tr>
<tr style="height: 72px;">
<td style="height: 68px; width: 40%;"><span style="color: #ff8c00;"><strong>看護学科2年B組①</strong></span></td>
<td style="height: 68px; width: 35%;">チュロスバナナ</td>
<td style="height: 41px; width: 25%;">250円</td>
</tr>
<tr style="height: 72px;">
<td style="height: 68px; width: 40%;"><span style="color: #ff8c00;"><strong>看護学科2年B組②</strong></span></td>
<td style="height: 68px; width: 35%;">ドリンク(ソーダ)</td>
<td style="height: 41px; width: 25%;">300円</td>
</tr>
<tr style="height: 48px;">
<td style="height: 44px; width: 40%;"><span style="color: #ff6347;"><strong>視能訓練士学科1年①</strong></span></td>
<td style="height: 44px; width: 35%;">わたあめ</td>
<td style="height: 41px; width: 25%;">200円</td>
</tr>
<tr style="height: 104px;">
<td style="height: 100px; width: 40%;"><span style="color: #ff6347;"><strong>視能訓練士学科1年②</strong></span></td>
<td style="height: 100px; width: 35%;">かき氷</td>
<td style="height: 41px; width: 25%;">250円</td>
</tr>
<tr style="height: 104px;">
<td style="height: 100px; width: 40%;"><span style="color: #ff6347;"><strong>視能訓練士学科2年</strong></span></td>
<td style="height: 100px; width: 35%;">ホットドッグ</td>
<td style="height: 41px; width: 25%;">350円</td>
</tr>
<tr style="height: 68px;">
<td style="height: 68px; width: 40%;"><span style="color: #4169e1;"><strong>歯科衛生士学科1年</strong></span></td>
<td style="height: 68px; width: 35%;">小籠包</td>
<td style="height: 41px; width: 25%;">300円</td>
</tr>
<tr style="height: 68px;">
<td style="height: 68px; width: 40%;"><span style="color: #4169e1;"><strong>歯科衛生士学科2年</strong></span></td>
<td style="height: 68px; width: 35%;">焼きそば</td>
<td style="height: 41px; width: 25%;">400円</td>
</tr>
<tr style="height: 68px;">
<td style="height: 68px; width: 40%;"><span style="color: #9932cc;"><strong>臨床工学技士学科1年①</strong></span></td>
<td style="height: 68px; width: 35%;">冷やしうどん</td>
<td style="height: 41px; width: 25%;">300~350円</td>
</tr>
<tr style="height: 68px;">
<td style="height: 68px; width: 40%;"><span style="color: #9932cc;"><strong>臨床工学技士学科1年①</strong></span></td>
<td style="height: 68px; width: 35%;">いももち</td>
<td style="height: 41px; width: 25%;">150~200円</td>
</tr>
<tr style="height: 68px;">
<td style="height: 68px; width: 40%;"><span style="color: #9932cc;"><strong>臨床工学技士学科2年①</strong></span></td>
<td style="height: 68px; width: 35%;">ホルモンうどん</td>
<td style="height: 41px; width: 25%;">500円</td>
</tr>
<tr style="height: 68px;">
<td style="height: 68px; width: 40%;"><span style="color: #9932cc;"><strong>臨床工学技士学科2年②</strong></span></td>
<td style="height: 68px; width: 35%;">チョコバナナ</td>
<td style="height: 41px; width: 25%;">200~300円</td>
</tr>
<tr style="height: 68px;">
<td style="height: 68px; width: 40%;"><span style="color: #339966;"><strong>北海道ハイテクノロジー専門学校</strong></span></td>
<td style="height: 68px; width: 35%;">窯焼きピッツァ</td>
<td style="height: 41px; width: 25%;">200円</td>
</tr>
</tbody>
</table></div>
<p>&nbsp;</p>
<h1><span style="background-color: #ffff00;">高校生の方は、事前予約でさらにお得！</span></h1>
<h1><span style="background-color: #ffff00;">是非、お友達や保護者の方とお越しください＾＾</span></h1>
<p><strong>学園祭／ウェルネスフェス<br />
高校生限定　事前予約特典<br />
<span style="font-size: 14pt; color: #ff6600;">屋台で使える５００円</span>チケットプレゼント！</strong></p>
<p>※予約を確認し、チケットと引き換えをします。※高校生と確認できるものを提示いただく可能性があります。※学園祭・ウェルネスフェスは入退場自由のイベントとなっており、オープンキャンパス・学校説明会のように交通費補助などはありません(LINEクーポン含む)<a href="/opencampus/bus/"><img loading="lazy" decoding="async" class="alignnone size-medium wp-image-14665" src="/asset/img/uploads/2025/03/2e5431336344593b9153b4c281438924.png" alt="" width="600" /></a></p>
<p>無料送迎バス利用の方は、学園祭を楽しんだり、新札幌の街にお出かけしたり、自由に行動するのもOK！<br />
※バスは定員になり次第、締め切りになります。早めの予約がオススメです。</p>
<p>&nbsp;</p>
<div><center><strong><span style="font-size: 14pt;">6/27（土）10:30〜15:00 </span></strong></center><center><strong><span style="font-size: 14pt;">（最終受付：14:30）</span><br />
※入退場自由</strong></center><br />
<center><a class="c-btn c-btn--accent c-btn--arrow" href="/form/event/?event=2026/06/27(%E5%9C%9F)%20-%20%E5%AD%A6%E5%9C%92%E7%A5%AD%EF%BD%9E%E3%82%A6%E3%82%A7%E3%83%AB%E3%83%BB%E3%83%93%E3%83%BC%E3%82%A4%E3%83%B3%E3%82%B0%EF%BD%9E%E9%96%8B%E5%82%AC%EF%BC%81">学園祭に申し込む </a></center></div>
{% endraw %}
    </div>
    <p class="p-article__back"><a href="/news/" class="c-btn c-btn--yellow c-btn--arrow">お知らせ一覧へ戻る</a></p>
  </article>
</div>
