---
layout: page.njk
title: "★遠方から新札幌への行き方★"
description: "【看護師・視能訓練士・歯科衛生士・臨床工学技士】医療系に進むなら札幌看護医療専門学校！充実の設備×駅近×ICT教育で新たな医療を学ぶ。学校や学科の最新ニュースをお知らせします。"
breadcrumb: [{"label": "お知らせ", "url": "/news/"}, {"label": "★遠方から新札幌への行き方★"}]
bodyClass: p-article p-article-news
pageCss: /asset/css/pages/article.css
permalink: /news/2024/13820/index.html
---
{#artfix:mv:start#}
<section class="p-article__mv">
  <div class="p-article__mv-bg"><img src="/asset/img/news/2025/mv.jpg" alt="" width="740" height="330"></div>
  <div class="p-article__mv-title">
    <span class="text-wrap">
      <span class="en">NEWS</span>
      <span class="ja">お知らせ</span>
    </span>
  </div>
</section>
{#artfix:mv:end#}
<div class="p-article__inner">
  <article class="p-article__container">
    <header class="p-article__head" data-anim="fade-up">
      <div class="p-article__meta">
        <time class="p-article__date" datetime="2024-11-01">2024.11.01</time>
        <ul class="p-article__labels"><li><span class="p-article__label" data-cat="all_depts">全学科</span></li><li><span class="p-article__label" data-cat="information">お知らせ</span></li><li><span class="p-article__label" data-cat="other">その他</span></li></ul>
      </div>
      <h1 class="p-article__ttl">★遠方から新札幌への行き方★</h1>
    </header>
    <div class="p-article__body">
{% raw %}<p><strong>地方から札幌看護医療専門学校へお越しの皆様へ<br />
公共交通機関を利用してのアクセス方法をご紹介します！</p>
<p>各都市ごとに、<font color="blue"><u>JR・バスでのアクセス方法</u></font>と、<font color="red"><u>交通費補助額</u></font>をご案内しています。<br />
<u>無料送迎バス運行日でなくても</u>、交通費補助を利用すればお得に来校できます！<br />
お越しの都市を選択して詳細をご確認ください☆</strong></p>
<p><img loading="lazy" decoding="async" src="/asset/img/uploads/2024/11/c357c544d0ce215b91abfcc2be58c11e.jpg" alt="" width="700" class="alignnone size-medium wp-image-13821" /><br />
<center><strong><font size="3">▼▼▽お住まいの都市をクリック▽▼▼</font></strong></center><br />
<center></p>
<div class="p-article__tbl-scroll"><table width="600" border="0">
<tbody>
<tr>
<td width="300" align="center"><a class="c-btn c-btn--accent c-btn--arrow" href="#asahi" rel="noopener noreferrer" width="50%">旭川</a></td>
<td width="300" align="center"><a class="c-btn c-btn--accent c-btn--arrow" href="#abashiri" rel="noopener noreferrer">網走</a></td>
</tr>
<tr>
<td width="300" align="center"><a class="c-btn c-btn--accent c-btn--arrow" href="#iwami" rel="noopener noreferrer">岩見沢</a></td>
<td width="300" align="center"><a class="c-btn c-btn--accent c-btn--arrow" href="#otaru" rel="noopener noreferrer">小樽</a></td>
</tr>
<tr>
<td width="300" align="center"><a class="c-btn c-btn--accent c-btn--arrow" href="#obihiro" rel="noopener noreferrer">帯広</a></td>
<td width="300" align="center"><a class="c-btn c-btn--accent c-btn--arrow" href="#kitami" rel="noopener noreferrer">北見</a></td>
</tr>
<tr>
<td width="300" align="center"><a class="c-btn c-btn--accent c-btn--arrow" href="#kushiro" rel="noopener noreferrer">釧路</a></td>
<td width="300" align="center"><a class="c-btn c-btn--accent c-btn--arrow" href="#chitose" rel="noopener noreferrer">千歳</a></td>
</tr>
<tr>
<td width="300" align="center"><a class="c-btn c-btn--accent c-btn--arrow" href="#tomakomai" rel="noopener noreferrer">苫小牧</a></td>
<td width="300" align="center"><a class="c-btn c-btn--accent c-btn--arrow" href="#tomemoe" rel="noopener noreferrer">留萌</a></td>
</tr>
<tr>
<td width="300" align="center"><a class="c-btn c-btn--accent c-btn--arrow" href="#nemuro" rel="noopener noreferrer">根室</a></td>
<td width="300" align="center"><a class="c-btn c-btn--accent c-btn--arrow" href="#hakodate" rel="noopener noreferrer">函館</a></td>
</tr>
<tr>
<td width="300" align="center"><a class="c-btn c-btn--accent c-btn--arrow" href="#muroran" rel="noopener noreferrer">室蘭</a></td>
<td width="300" align="center"><a class="c-btn c-btn--accent c-btn--arrow" href="#wakkani" rel="noopener noreferrer">稚内</a></td>
</tr>
</tbody>
</table></div>
<p></center></p>
<p>&nbsp;</p>
<h2 id="asahi">旭川からのアクセス方法</h2>
<p>列車はJR、特急含め自由席で計算した金額となります。<br />
<img loading="lazy" decoding="async" src="/asset/img/uploads/2024/11/920a0bea07960ad311f69f82cf519558.jpg" alt="" width="600" class="alignnone size-medium wp-image-13846" /><br />
&nbsp;</p>
<h2 id="abashiri">網走からのアクセス方法</h2>
<p>列車はJR、特急含め自由席で計算した金額となります。<br />
<img loading="lazy" decoding="async" src="/asset/img/uploads/2024/11/6690b7559b2dfd2f0e9358af03b68936.jpg" alt="" width="600" class="alignnone size-medium wp-image-13847" /><br />
&nbsp;</p>
<h2 id="iwami">岩見沢からのアクセス方法</h2>
<p>列車はJR、特急含め自由席で計算した金額となります。<br />
<img loading="lazy" decoding="async" src="/asset/img/uploads/2024/11/a43884d31d1a54bb7ec2fbea47c0d804.jpg" alt="" width="600" class="alignnone size-medium wp-image-13836" /><br />
&nbsp;</p>
<h2 id="otaru">小樽からのアクセス方法</h2>
<p>列車はJR、特急含め自由席で計算した金額となります。<br />
<img loading="lazy" decoding="async" src="/asset/img/uploads/2024/11/4f71e30f972da046fe663eb680402c86.jpg" alt="" width="600" class="alignnone size-medium wp-image-13838" /><br />
&nbsp;</p>
<h2 id="obihiro">帯広からのアクセス方法</h2>
<p>列車はJR、特急含め自由席で計算した金額となります。<br />
（おおぞら、とかちは指定席のみです）<br />
<img loading="lazy" decoding="async" src="/asset/img/uploads/2024/11/4ffe6b26cd5640fa352a979cc7a96dd7.jpg" alt="" width="600" class="alignnone size-medium wp-image-13840" /><br />
&nbsp;</p>
<h2 id="kitami">北見からのアクセス方法</h2>
<p>列車はJR、特急含め自由席で計算した金額となります。<br />
<img loading="lazy" decoding="async" src="/asset/img/uploads/2024/11/6d4f1aa0d1d2acc4109ef62c28ca1343.jpg" alt="" width="600" class="alignnone size-medium wp-image-13827" /><br />
&nbsp;</p>
<h2 id="kushiro">釧路からのアクセス方法</h2>
<p>列車はJR、特急含め自由席で計算した金額となります。<br />
（おおぞらは指定席のみです）<br />
<img loading="lazy" decoding="async" src="/asset/img/uploads/2024/11/f98a285af4c5616d9317b2b6535487f7.jpg" alt="" width="600" class="alignnone size-medium wp-image-13848" /><br />
&nbsp;</p>
<h2 id="chitose">千歳からのアクセス方法</h2>
<p>列車はJR、特急含め自由席で計算した金額となります。<br />
<img loading="lazy" decoding="async" src="/asset/img/uploads/2024/11/32dd974642649a1de31cc0d8cc2a3f97.jpg" alt="" width="600" class="alignnone size-medium wp-image-13839" /><br />
&nbsp;</p>
<h2 id="tomakomai">苫小牧からのアクセス方法</h2>
<p>列車はJR、特急含め自由席で計算した金額となります。<br />
（北斗、すずらんは指定席のみです）<br />
<img loading="lazy" decoding="async" src="/asset/img/uploads/2024/11/ad1e8b78463f1ccd529bfca4f64b7c4a.jpg" alt="" width="600" class="alignnone size-medium wp-image-13841" /><br />
&nbsp;</p>
<h2 id="tomemoe">留萌からのアクセス方法</h2>
<p>列車はJR、特急含め自由席で計算した金額となります。<br />
<img loading="lazy" decoding="async" src="/asset/img/uploads/2024/11/657e30dffdc0516f67d80b3a59589708.jpg" alt="" width="600" class="alignnone size-medium wp-image-13850" /><br />
&nbsp;</p>
<h2 id="nemuro">根室からのアクセス方法</h2>
<p>列車はJR、特急含め自由席で計算した金額となります。<br />
（おおぞらは指定席のみです）<br />
<img loading="lazy" decoding="async" src="/asset/img/uploads/2024/11/7861fff9d51bfb96773a1f21bf78de97.jpg" alt="" width="600" class="alignnone size-medium wp-image-13849" /><br />
&nbsp;</p>
<h2 id="hakodate">函館からのアクセス方法</h2>
<p>列車はJR、特急含め自由席で計算した金額となります。<br />
（北斗は指定席のみです）<br />
<img loading="lazy" decoding="async" src="/asset/img/uploads/2024/11/5793210fb5a9cb672c79086ac9773e73.jpg" alt="" width="600" class="alignnone size-medium wp-image-13842" /><br />
&nbsp;</p>
<h2 id="muroran">室蘭からのアクセス方法</h2>
<p>列車はJR、特急含め自由席で計算した金額となります。<br />
（北斗、すずらんは指定席のみです）<br />
<img loading="lazy" decoding="async" src="/asset/img/uploads/2024/11/7b994eb1ec5a192c23080993a6a7d099.jpg" alt="" width="600" class="alignnone size-medium wp-image-13837" /><br />
&nbsp;</p>
<h2 id="wakkani">稚内からのアクセス方法</h2>
<p>列車はJR、特急含め自由席で計算した金額となります。<br />
<img loading="lazy" decoding="async" src="/asset/img/uploads/2024/11/54a618b77c9138bc7dd0fe21d0025736.jpg" alt="" width="600" class="alignnone size-medium wp-image-13851" /><br />
&nbsp;<br />
<strong><span style="font-size: 14pt; background-color: #ffcc00;">【初回交通費補助】</span></strong><br />
２回目以降の方にも交通補助あり！ ※交通費の詳細は以下からご確認ください<br />
<a href="/opencampus/subsidy_list/"><img loading="lazy" fetchpriority="high" decoding="async" class="aligncenter size-medium wp-image-8480" src="/asset/img/uploads/2023/01/banner-subsidy-600x301.jpg" alt="" width="600" height="301" /></a></p>
{% endraw %}
    </div>
    <p class="p-article__back"><a href="/news/" class="c-btn c-btn--yellow c-btn--arrow">お知らせ一覧へ戻る</a></p>
  </article>
    {#artfix:related:start#}
    <aside class="p-article__related" data-anim="fade-up">
      <h2 class="p-article__related-ttl">関連記事</h2>
      <ul class="p-article__related-list">
        <li><a href="/news/2026/19029/" class="p-article__related-item">
          <div class="p-article__related-img"><img src="/asset/img/wp/noimage.png" alt="" width="260" height="150" loading="lazy"></div>
          <div class="p-article__related-txt">
            <time datetime="2026-07-16">2026.07.16</time>
            <p class="p-article__related-name">私は看護師になれる…？進路に迷う高校生応援企画開催決定✨</p>
            <ul class="p-article__labels"><li><span class="p-article__label" data-cat="all_depts">全学科</span></li><li><span class="p-article__label" data-cat="information">お知らせ</span></li><li><span class="p-article__label" data-cat="event">イベント情報</span></li></ul>
          </div>
        </a></li>
        <li><a href="/news/2026/18039/" class="p-article__related-item">
          <div class="p-article__related-img"><img src="/asset/img/wp/noimage.png" alt="" width="260" height="150" loading="lazy"></div>
          <div class="p-article__related-txt">
            <time datetime="2026-07-15">2026.07.15</time>
            <p class="p-article__related-name">【2026年8月】全道８地区で出張オープンキャンパス開催☆</p>
            <ul class="p-article__labels"><li><span class="p-article__label" data-cat="all_depts">全学科</span></li><li><span class="p-article__label" data-cat="information">お知らせ</span></li><li><span class="p-article__label" data-cat="event">イベント情報</span></li></ul>
          </div>
        </a></li>
        <li><a href="/news/2026/18962/" class="p-article__related-item">
          <div class="p-article__related-img"><img src="/asset/img/wp/noimage.png" alt="" width="260" height="150" loading="lazy"></div>
          <div class="p-article__related-txt">
            <time datetime="2026-07-13">2026.07.13</time>
            <p class="p-article__related-name">7/25.26進路に迷ってる方必見★特別プログラム開催！</p>
            <ul class="p-article__labels"><li><span class="p-article__label" data-cat="all_depts">全学科</span></li><li><span class="p-article__label" data-cat="event">イベント情報</span></li></ul>
          </div>
        </a></li>
      </ul>
    </aside>
    {#artfix:related:end#}
    {#artfix:school:start#}
    <section class="p-article__school" data-anim="fade-up">
      <p class="p-article__school-logo"><a href="/"><img src="/asset/img/share/logo.png" alt="札幌看護医療専門学校" width="476" height="80" loading="lazy"></a></p>
      <p class="p-article__school-address">〒004-0051<br>札幌市厚別区厚別中央1条5丁目1番5号</p>
      <p class="p-article__school-tel">TEL：011-801-8343（代表番号）<br>FAX：011-801-8345<br>フリーダイヤル：0120-37-8343</p>
      <ul class="p-article__school-btns">
        <li><a href="/form/inquiry/" class="c-btn c-btn--yellow c-btn--arrow">お問い合わせ</a></li>
        <li><a href="/school/access/" class="c-btn c-btn--arrow">アクセス</a></li>
      </ul>
    </section>
    {#artfix:school:end#}
        </div>
