---
layout: page.njk
title: 交通・アクセス
description: 地下鉄東西線新さっぽろ駅から徒歩３分、JR新札幌駅から徒歩５分！学校周辺には大型商業施設や図書館もあるので買い物やアルバイト、勉強にも便利なエリアです。
breadcrumb: [{label: 学校案内, url: /school/}, {label: 交通・アクセス}]
bodyClass: p-school p-school-access
pageCss: /asset/css/pages/school.css
permalink: /school/access/index.html
---
{#- MV -#}
<section class="p-school__mv">
  <h1 class="p-school__mv-title">
    <span class="eng">ABOUT</span>
    <span class="ja">交通アクセス</span>
  </h1>
  <div class="p-school__mv-bg"><img src="/asset/img/school/share/2025/mv.jpg" alt="" width="740" height="330"></div>
</section>

{#- 導入 -#}
<section class="p-school-access__intro u-section" data-anim="fade-up">
  <p class="p-school__lead">9:30の授業スタート！<br>地下鉄・JR・バスと<br>複数のアクセスがあるため、<span class="u-nowrap">さまざまな地域から</span><span class="u-nowrap">通学がしやすい！</span></p>
  <p>駅からも徒歩3分で学校へ到着！新札幌には大型商業施設や図書館もあるので買い物やアルバイト、勉強にも便利です。</p>
  <div class="p-school-access__intro-ph" data-anim-group>
    <div class="ph" data-anim="zoom"><img src="/asset/img/school/access/intro-ph01.jpg" loading="lazy" alt="" width="212" height="238"></div>
    <div class="ph" data-anim="zoom"><img src="/asset/img/school/access/intro-ph02.jpg" loading="lazy" alt="" width="750" height="723"></div>
  </div>
  <div class="p-school-access__map-img"><img src="/asset/img/school/access/map-img01.jpg" loading="lazy" alt="" width="750" height="700"></div>
</section>

{#- Google Map -#}
<section class="p-school-access__gmap u-section" data-anim="fade">
  <h2 class="u-sr-only">地図</h2>
  <div class="frame">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4575.996313378075!2d141.4712528045681!3d43.037400662591594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0b2c9e6569e1fb%3A0x23d4740f591160f1!2z5paw44GV44Gj44G944KN6aeF!5e0!3m2!1sja!2sjp!4v1611562573300!5m2!1sja!2sjp" title="Google マップ" loading="lazy" allowfullscreen></iframe>
  </div>
</section>

{#- 電車 -#}
<section class="p-school-access__train u-section">
  <h2 class="p-school__ttl1" data-anim="fade-up">電車でお越しの方</h2>
  <div class="p-school-access__route" data-anim="fade-up">
    <h3 class="p-school__ttl2">札幌駅から8分の好アクセス。主要駅からも直通でアクセスできる好立地。</h3>
    <div class="img"><img src="/asset/img/school/access/train-img01.png" loading="lazy" alt="" width="700" height="554"></div>
    <dl class="p-school-access__course">
      <dt>札幌方面</dt>
      <dd>札幌駅 <span class="u-nowrap">→ 新札幌駅</span><span class="u-nowrap">（8分）</span></dd>
    </dl>
    <dl class="p-school-access__course">
      <dt>千歳方面</dt>
      <dd>苫小牧駅 <span class="u-nowrap">→ 新札幌駅</span><span class="u-nowrap">（約40分）</span></dd>
      <dd>新千歳空港駅 <span class="u-nowrap">→ 新札幌駅</span><span class="u-nowrap">（約28分）</span></dd>
    </dl>
  </div>

  <div class="p-school-access__movies" data-anim-group>
    <div class="movie" data-anim="fade-up">
      <h3 class="p-school__ttl2">JR新札幌駅からの行き方</h3>
      <a href="https://youtu.be/pyoPhDewVR0" target="_blank" rel="noopener" class="thumb">
        <img src="/asset/img/school/access/youtube-thumb01.jpg" loading="lazy" width="496" height="278" alt="">
        <span class="play">
          <span class="front"><img src="/asset/img/share/icon-play-front.png" loading="lazy" alt="" width="140" height="140"></span>
          <span class="text"><img src="/asset/img/share/icon-play-text.png" loading="lazy" alt="PLAT MOVIE" width="140" height="140"></span>
        </span>
      </a>
    </div>
    <div class="movie" data-anim="fade-up">
      <h3 class="p-school__ttl2">地下鉄新さっぽろ駅からの行き方</h3>
      <a href="https://youtu.be/go1gBxZFBx0" target="_blank" rel="noopener" class="thumb">
        <img src="/asset/img/school/access/youtube-thumb02.jpg" loading="lazy" width="496" height="278" alt="">
        <span class="play">
          <span class="front"><img src="/asset/img/share/icon-play-front.png" loading="lazy" alt="" width="140" height="140"></span>
          <span class="text"><img src="/asset/img/share/icon-play-text.png" loading="lazy" alt="PLAT MOVIE" width="140" height="140"></span>
        </span>
      </a>
    </div>
  </div>

  <div class="p-school-access__tariff" data-anim="fade-up">
    <h3 class="p-school__ttl2">一ヶ月の定期代</h3>
    <div class="table-wrap">
      <table class="p-school-access__tariff-table">
        <caption class="u-sr-only">JR 各駅から新札幌駅までの一ヶ月の定期代</caption>
        <thead>
          <tr><th scope="col">駅名</th><th scope="col">定期代<br>（一ヶ月）</th></tr>
        </thead>
        <tbody>
          <tr class="head">
            <td colspan="2">
              <span class="logo"><img src="/asset/img/school/access/logo-jr.png" loading="lazy" alt="" width="110" height="60"></span>
              <b>JR</b>（各駅から新札幌駅まで）
            </td>
          </tr>
          <tr><th scope="row">札幌</th><td>8,940円</td></tr>
          <tr><th scope="row">厚別</th><td>7,810円</td></tr>
          <tr><th scope="row">苗穂</th><td>7,630円</td></tr>
          <tr><th scope="row">白石</th><td>5,590円</td></tr>
          <tr><th scope="row">恵み野</th><td>11,820円</td></tr>
          <tr><th scope="row">千歳</th><td>12,860円</td></tr>
          <tr><th scope="row">苫小牧</th><td>22,040円</td></tr>
        </tbody>
      </table>
      <table class="p-school-access__tariff-table">
        <caption class="u-sr-only">地下鉄 各駅から新さっぽろ駅までの一ヶ月の定期代</caption>
        <tbody>
          <tr class="head">
            <td colspan="2">
              <span class="logo"><img src="/asset/img/school/access/logo-subway.png" loading="lazy" alt="" width="110" height="60"></span>
              <b>地下鉄</b>（各駅から新さっぽろ駅まで）
            </td>
          </tr>
          <tr><th scope="row">大通</th><td>7,920円</td></tr>
          <tr><th scope="row">バスセンター前</th><td>6,960円</td></tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

{#- 車 -#}
<section class="p-school-access__car u-section">
  <h2 class="p-school__ttl1" data-anim="fade-up">お車でお越しの方</h2>
  <ul class="p-school-access__car-list" data-anim-group>
    <li data-anim="fade-up">札幌から約30分</li>
    <li data-anim="fade-up">苫小牧から約60分</li>
    <li data-anim="fade-up">新千歳空港から約40分</li>
  </ul>
  <div class="img" data-anim="fade-up"><img src="/asset/img/school/access/car-img01.png" loading="lazy" alt="" width="752" height="637"></div>
  <p class="text" data-anim="fade-up">オープンキャンパス来校者や企業の方は駐車場が使用できます。</p>
  <ul class="p-school__notes"><li>在校生の利用は出来ません。</li></ul>
</section>
