---
layout: page.njk
title: "わたしの進む道〜看護学科編〜"
description: "【看護師・視能訓練士・歯科衛生士・臨床工学技士】医療系に進むなら札幌看護医療専門学校！充実の設備×駅近×ICT教育で新たな医療を学ぶ。学校行事や学科のブログです。"
breadcrumb: [{label: ブログ, url: /blog/}, {label: "わたしの進む道〜看護学科編〜"}]
bodyClass: p-blogart
pageCss: /asset/css/pages/blog-article.css
permalink: /blog/2025/15750/index.html
---
<article class="p-blogart">
  <header class="p-blogart__head" data-anim="fade-up">
    <div class="p-blogart__meta">
      <time class="p-blogart__date" datetime="2025-08-27">2025.08.27</time>
      <ul class="p-blogart__labels"><li><span class="p-blogart__label" data-cat="nursing">看護学科</span></li><li><span class="p-blogart__label" data-cat="session">授業の様子</span></li><li><span class="p-blogart__label" data-cat="students">在校生紹介</span></li></ul>
    </div>
    <h1 class="p-blogart__ttl">わたしの進む道〜看護学科編〜</h1>
    <figure class="p-blogart__eyecatch"><img src="/asset/img/uploads/2025/08/3-1-900x636.jpg" alt="" width="900" height="636" loading="lazy"></figure>
  </header>
  <div class="p-blogart__body">
{% raw %}
<p><img src="/asset/img/uploads/2025/08/8aeb2621bbff0033e8260a9b0b87bb02-1.png" alt="" loading="lazy"></p>
<p><strong>看護師を目指している皆さん！<br />
看護学科で日々がんばっている先輩たちが、どんな毎日を送っているか気になりませんが？<br />
今回、<span style="color: #ff1493;">先輩たちの生の声</span>をお届けすべく、インタビューしました！</strong></p>
<p>&nbsp;</p>
<h1>看護師として、患者様だけでなくご家族からも信頼されるようになる！</h1>
<p><img src="/asset/img/uploads/2025/08/49ef72b19c9b2addea8db508ca9b00b7.png" alt="大滝さん" loading="lazy"><strong>自分のなりたい看護師を目指して</strong><br />
看護学科の<strong>大滝</strong>さん<br />
（クラーク記念国際高等学校出身／北海道）</p>
<h2>学校で学んでいること・学生生活</h2>
<p>今力を注いでいるのは、病状からその患者様にあった援助方法を考える授業です！グループになり、病状から患者様にどのような援助を行うかを考え、看護師役や患者様役に分かれロールプレイングを行っています。<strong>看護の援助は決まったことをするものではなく、<span style="color: #ff1493;">1人1人にあった援助を実施する</span>ということを改めて学びました。</strong></p>
<h2>これから叶えたい夢・目標</h2>
<p>看護師として患者様の心の支えとなり患者様が前向きに治療に取り組めるような援助をしたいです！私の産まれた時の写真で、担当してくれた看護婦さんの笑顔が心に残っており自然と看護師の道を希望しました。<strong><span style="color: #ff1493;">様々な科と協働する実習を通して</span>、援助方法だけではなく患者様のメンタルケアなどの知識も深めたい</strong>と思っています。</p>
<p><img src="/asset/img/uploads/2025/08/0175_original.png" alt="" loading="lazy"><span style="color: #808080;">▲戴帽式！実習へモチベーションが上がります！</span></p>
<h2>この分野・学校を選んだ理由</h2>
<p>説明会で先生方と話をして、学生とのコミュニケーションを大切にしている先生が多いと感じた点が魅力的だと思いました。<strong><span style="color: #ff1493;">バーチャル医療解剖実習</span>など最新の機材を使用した授業が受けられる</strong>点も大きなポイントです！</p>
<p><img src="/asset/img/uploads/2025/08/ce7fb4171116d8096429a583f39dafde.png" alt="バーチャル医療解剖実習" loading="lazy"><span style="color: #808080;">▲バーチャル医療解剖実習<br />
最新の学び方で、効率的に深く学べます </span></p>
<h2>分野選びの視点・アドバイス</h2>
<p>先生方が親身になり生徒と接してくださる点が本校の大きな特長です。<strong>本校に入ることによって、<span style="color: #ff1493;">コミュニケーション能力が身につく</span>と感じています。</strong>入学したら、日々の勉強習慣を身につけるようおすすめします！</p>
<h2>1週間のタイムスケジュール</h2>
<p><img src="/asset/img/uploads/2025/08/8513dc9e0a24995eef400b2104ca7088.jpg" alt="" loading="lazy"></p>
<h1>他にもたくさんの先輩たちが学生生活を満喫中！</h1>
<p><img src="/asset/img/uploads/2025/08/14044f3c64c2eec9d556598312275ca4.png" alt="" loading="lazy"><img src="/asset/img/uploads/2025/08/bd5258cbf62ebec846002cbb5aa6f9ab-1.png" alt="" loading="lazy"></p>
<p><center><span style="font-size: medium;"><strong>\過去の記事もチェック！／</strong></span></center><br />
<a href="/blog/2022/6530/"><img src="/asset/img/uploads/2025/08/banner-blog01-wide.jpg" alt="" loading="lazy"></a></p>
<p><center><span style="font-size: medium;"><strong>\もっと看護学科を知りたいなら！／</strong></span></center><br />
<a href="/course/nursing/"><img src="/asset/img/uploads/2022/08/banner-nursing.jpeg" alt="" loading="lazy"></a></p>
<p><center><span style="font-size: medium;"><strong>\看護学科の先輩たちと話せる！／</strong></span></center><br />
<a href="/opencampus/"><img src="/asset/img/uploads/2026/03/e373108c52c7083eb7c146292410e480.png" alt="" loading="lazy"></a></p>
{% endraw %}
  </div>
  <p class="p-blogart__back" data-anim="fade"><a href="/blog/" class="c-btn c-btn--yellow c-btn--arrow">ブログ一覧へ戻る</a></p>
</article>
