---
layout: page.njk
title: 採用情報
description: 【看護師・視能訓練士・歯科衛生士・臨床工学技士】30年以上の実績！新さっぽろに新校舎開設。充実の設備×駅近×ICT教育で新たな医療を学ぶ。採用情報です。
breadcrumb: [{label: 採用情報}]
bodyClass: p-other p-other-recruit
pageCss: /asset/css/pages/other.css
permalink: /recruit/index.html
---
{#- ページMV -#}
<section class="p-other__mv">
  <div class="p-other__mv-bg"><img src="/asset/img/share/2025/mv.jpg" alt="" width="740" height="330"></div>
  <h1 class="p-other__mv-title">
    <span class="text-wrap">
      <span class="en">RECRUIT</span>
      <span class="ja">採用情報</span>
    </span>
  </h1>
</section>

<div class="p-other__body">
  <section class="p-other__box">
    <p class="p-other__lead">札幌看護医療専門学校では<span class="inline-block">教員・非常勤講師を<span class="inline-block">募集しています。</span></span><br>学校の運営や教育現場に<span class="inline-block">興味のある方は、</span><span class="inline-block">ご応募下さい。</span></p>
    <div class="p-other__ph-row" data-anim-group>
      <div class="ph" data-anim="fade-up"><img src="/asset/img/recruit/ph01.jpg" loading="lazy" width="320" height="213" alt=""></div>
      <div class="ph" data-anim="fade-up"><img src="/asset/img/recruit/ph02.jpg" loading="lazy" width="320" height="213" alt=""></div>
      <div class="ph" data-anim="fade-up"><img src="/asset/img/recruit/ph03.jpg" loading="lazy" width="320" height="213" alt=""></div>
      <div class="ph" data-anim="fade-up"><img src="/asset/img/recruit/ph04.jpg" loading="lazy" width="320" height="213" alt=""></div>
    </div>
  </section>

  <section class="p-other__box">
    <h2 class="p-other__ttl" data-anim="fade-up">募集職種</h2>
    <ol class="p-other__num-list">
      <li>看護学科専任教員（契約職員・正職員）</li>
      <li>歯科衛生士学科専任教員（契約職員・正職員）</li>
      <li>臨床工学技士学科専任教員（契約職員・正職員）</li>
      <li>視能訓練士学科専任教員（契約職員・正職員）</li>
    </ol>
  </section>

  <section class="p-other__box">
    <h2 class="p-other__ttl" data-anim="fade-up">応募資格</h2>
    <p>（全学科共通）次世代の医療を支える人材を育成する熱意のある方。本校が推進しているICT教育に興味と理解のある方。</p>
    <ol class="p-other__num-list">
      <li>（看護学科）看護師の資格を有し、5年以上の実務経験を持つ方。</li>
      <li>（歯科衛生士学科）歯科衛生士の資格を有し、5年以上の実務経験を持つ方。</li>
      <li>（臨床工学技士学科）臨床工学技士の資格を有し、5年以上の実務経験を持つ方。</li>
      <li>（視能訓練士学科）視能訓練士の資格を有し、5年以上の実務経験を持つ方。</li>
    </ol>
  </section>

  <section class="p-other__box">
    <h2 class="p-other__ttl" data-anim="fade-up">採用人数</h2>
    <p>若干名</p>
  </section>

  <section class="p-other__box">
    <h2 class="p-other__ttl" data-anim="fade-up">勤務時間等</h2>
    <div class="p-other__inner">
      <p>①②③④（専任教員）<br>8:40～17:40<span class="inline-block">（8:20～17:20等のシフトパターン有）</span></p>
    </div>
    <div class="p-other__inner">
      <p>【休日】<br>1.土・日・祝日　2.年末年始　3.夏期休暇　他</p>
      <ul class="p-other__notes">
        <li>シフト制（オープンキャンパス等の対応で土日祝勤務の場合は他の勤務日と振り替え）</li>
      </ul>
    </div>
    <div class="p-other__inner">
      <p>【給与】<br>当校規定により、能力・経験等を考慮し、個別に決定いたします。</p>
    </div>
  </section>

  <section class="p-other__box">
    <h2 class="p-other__ttl" data-anim="fade-up">応募方法・書類提出先</h2>
    <ul class="p-other__notes">
      <li>書留郵便とし、封筒には「教員応募書類在中」とご記入下さい。</li>
      <li>ご提出いただいた書類は、本校の規定に従い適切に管理し、採用選考の目的以外には使用いたしません。</li>
    </ul>
  </section>

  <section class="p-other__box">
    <div class="p-other__info-box" data-anim="fade-up">
      <h3 class="p-other__ttl3">札幌看護医療専門学校</h3>
      <p>履歴書・職務経歴書を下記へ郵送ください。書類選考後、面接日を連絡いたします。</p>
      <p>〒004-0051　札幌市厚別区厚別中央1条5丁目1-5　<span class="inline-block">札幌看護医療専門学校</span></p>
      <p>採用人事担当　担当 中西</p>
      <p><b>連絡先： 011-801-8343</b></p>
    </div>
  </section>
</div>
