---
layout: page.njk
title: サイトマップ
description: 【看護師・視能訓練士・歯科衛生士・臨床工学技士】30年以上の実績！新さっぽろに新校舎開設。充実の設備×駅近×ICT教育で新たな医療を学ぶ。サイトマップです。
breadcrumb: [{label: サイトマップ}]
bodyClass: p-other p-other-sitemap
pageCss: /asset/css/pages/other.css
permalink: /sitemap/index.html
---
{#- ページMV -#}
<section class="p-other__mv">
  <div class="p-other__mv-bg"><img src="/asset/img/share/2025/mv.jpg" alt="" width="740" height="330"></div>
  <h1 class="p-other__mv-title">
    <span class="text-wrap">
      <span class="en">SITEMAP</span>
      <span class="ja">サイトマップ</span>
    </span>
  </h1>
</section>

<div class="p-other__body">
  <section class="p-other__box" data-anim="fade-up">
    <h2 class="p-other__map-category"><a href="/school/">学校案内<span class="en">ABOUT</span></a></h2>
    <ul class="p-other__map-list">
      <li><a href="/school/study/">札幌看護医療が選ばれる理由</a></li>
      <li><a href="/school/guide/">高校1・2年生のための進路選び</a></li>
      <li><a href="/school/access/">交通・アクセス</a></li>
      <li><a href="/school/philosophy/">建学の理念</a></li>
      <li><a href="/school/info/">情報公開</a></li>
    </ul>
  </section>

  <section class="p-other__box" data-anim="fade-up">
    <h2 class="p-other__map-category"><a href="/course/">学科・専攻<span class="en">COURSE</span></a></h2>
    <ul class="p-other__map-list">
      <li><a href="/course/nursing/">看護学科</a></li>
      <li><a href="/course/orthoptist/">視能訓練士学科</a></li>
      <li><a href="/course/dentalhygienists/">歯科衛生士学科 <small>ホワイトニング・デンタルエステ専攻</small></a></li>
      <li><a href="/course/clinicalengineer/">臨床工学技士学科</a></li>
    </ul>
  </section>

  <section class="p-other__box" data-anim="fade-up">
    <h2 class="p-other__map-category"><a href="/career/">資格・就職情報<span class="en">CAREER</span></a></h2>
    <ul class="p-other__map-list">
      <li><a href="/career/license_support/">資格サポート</a></li>
      <li><a href="/career/job_result/">就職サポート</a></li>
    </ul>
  </section>

  <section class="p-other__box" data-anim="fade-up">
    <h2 class="p-other__map-category"><a href="/campuslife/">学校生活・施設<span class="en">CAMPUS LIFE</span></a></h2>
    <ul class="p-other__map-list">
      <li><a href="/campuslife/schedule/">キャンパスライフ</a></li>
      <li><a href="/campuslife/facility/">施設紹介</a></li>
    </ul>
  </section>

  <section class="p-other__box" data-anim="fade-up">
    <h2 class="p-other__map-category"><a href="/admission/">入試・学費<span class="en">ADMISSION</span></a></h2>
    <ul class="p-other__map-list">
      <li><a href="/admission/application/">募集要項・出願概要</a></li>
      <li><a href="/admission/ao/">AO入試エントリー・AO入試出願方法</a></li>
      <li><a href="/admission/applicationflow/">推薦・一般入試 出願方法</a></li>
      <li><a href="/admission/expenses/">学費・奨学金制度</a></li>
      <li><a href="/admission/scholarship/">特待生＆減免制度</a></li>
    </ul>
  </section>

  <section class="p-other__box" data-anim="fade-up">
    <h2 class="p-other__map-category">オープンキャンパス<span class="en">OPEN CAMPUS</span></h2>
    <ul class="p-other__map-list">
      <li><a href="/opencampus/">ICTオープンキャンパスとは</a></li>
      <li><a href="/opencampus/calendar/">イベント全日程一覧</a></li>
      <li><a href="https://www.snm.ac.jp/news/2022/6114/" target="_blank" rel="noopener">看護学科・入試説明会</a></li>
      <li><a href="/opencampus/session/">学校説明・個別相談会</a></li>
      <li><a href="/opencampus/bus/">無料送迎バス</a></li>
      <li><a href="/opencampus/subsidy_list/">交通費補助</a></li>
      <li><a href="https://www.snm.ac.jp/news/2021/2849/" target="_blank" rel="noopener">出張オープンキャンパス</a></li>
      <li><a href="https://www.snm.ac.jp/news/2021/5543/" target="_blank" rel="noopener">高校訪問ガイダンス</a></li>
    </ul>
  </section>

  <section class="p-other__box" data-anim="fade-up">
    <h2 class="p-other__map-category">その他<span class="en">OTHER</span></h2>
    <ul class="p-other__map-list">
      <li><a href="/news/">お知らせ一覧</a></li>
      <li><a href="/blog/">ブログ</a></li>
      <li><a href="https://www.snm.ac.jp/form/inquiry/" target="_blank" rel="noopener">お問い合わせ</a></li>
      <li><a href="https://www.snm.ac.jp/form/document/" target="_blank" rel="noopener">資料請求</a></li>
      <li><a href="/recruit/">採用情報</a></li>
      <li><a href="/sitemap/">サイトマップ</a></li>
      <li><a href="/socialpolicy/">ソーシャルメディアポリシー</a></li>
      <li><a href="/privacy/">プライバシーポリシー</a></li>
    </ul>
  </section>

  <section class="p-other__box" data-anim="fade-up">
    <h2 class="p-other__map-category">訪問者別<span class="en">VISITORS</span></h2>
    <ul class="p-other__map-list">
      <li><a href="/visit_graduate/">卒業生の方へ</a></li>
      <li><a href="https://www.snm.ac.jp/news/2023/9888/" target="_blank" rel="noopener">高等学校の先生方へ</a></li>
      <li><a href="https://www.snm.ac.jp/news/2023/9891/" target="_blank" rel="noopener">中学校の先生方へ</a></li>
      <li><a href="/visit_society/">社会人・大学生・短大生の方へ</a></li>
      <li><a href="/visit_company/">企業の方へ<span class="inline-block">（求人掲載はコチラ）</span></a></li>
      <li><a href="/recruit/">職員募集につきまして</a></li>
      <li><a href="/visit_municipality/">産官学連携にご協力いただける企業・自治体の方へ</a></li>
    </ul>
  </section>
</div>
