---
layout: page.njk
title: 卒業生の方へ
description: 30年以上の実績を引き継ぎ、新さっぽろに新校舎開設。充実の設備×駅近×ICT教育で新たな医療を学べる専門学校。卒業生の方へのご案内です。
breadcrumb: [{label: 卒業生の方へ}]
bodyClass: p-other p-visit p-visit-graduate
pageCss: /asset/css/pages/other.css
permalink: /visit_graduate/index.html
---
{#- ページMV -#}
<section class="p-other__mv">
  <div class="p-other__mv-bg"><img src="/asset/img/share/2025/mv.jpg" alt="" width="740" height="330"></div>
  <h1 class="p-other__mv-title">
    <span class="text-wrap">
      <span class="en">FOR GRADUATE</span>
      <span class="ja">卒業生の方へ</span>
    </span>
  </h1>
</section>

<div class="p-other__body">
  <section class="p-other__box">
    <div class="p-visit__news-box" data-anim="fade-up">
      <h3><span class="tag">News</span> 母校や姉妹校で働いてみませんか？</h3>
      <ul class="p-other__dot-list">
        <li>札幌看護医療専門学校の職員募集は<a href="/recruit/" class="p-other__link">コチラ</a></li>
        <li>東京医薬看護専門学校の職員募集は<a href="https://www.tcm.ac.jp/visitor/job.html" target="_blank" rel="noopener" class="p-other__link">コチラ</a></li>
      </ul>
    </div>
  </section>

  <section class="p-other__box">
    <h2 class="p-other__ttl" data-anim="fade-up">札幌看護医療専門学校卒業生にかかる<span class="inline-block">証明書の発行について</span></h2>
    <ol class="p-visit__flow" data-anim-group>
      <li data-anim="fade-up">
        <div class="p-visit__flow-head">
          <span class="num">STEP</span>
          <h3>証明書の発行<span class="inline-block">について</span></h3>
        </div>
        <div class="p-visit__flow-body">
          卒業生の各種証明書の発行に手数料がかかります。
          <p class="item-name">【種類】</p>
          <ul class="p-other__disc-list">
            <li>卒業証明書</li>
            <li>成績証明書</li>
            <li>単位修得証明書</li>
            <li>その他</li>
          </ul>
        </div>
      </li>
      <li data-anim="fade-up">
        <div class="p-visit__flow-head">
          <span class="num">STEP</span>
          <h3>発行手数料</h3>
        </div>
        <div class="p-visit__flow-body">
          <ul class="p-other__disc-list"><li>証明書1通につき500円</li></ul>
        </div>
      </li>
      <li data-anim="fade-up">
        <div class="p-visit__flow-head">
          <span class="num">STEP</span>
          <h3>申請方法</h3>
        </div>
        <div class="p-visit__flow-body">
          登録している卒業生専用LINEより申請して下さい。<br>（卒業生LINEが不明な方はTELにてお問い合わせ下さい）
        </div>
      </li>
      <li data-anim="fade-up">
        <div class="p-visit__flow-head">
          <h3>証明書の交付</h3>
        </div>
        <div class="p-visit__flow-body">証明書は作成に一週間程度かかりますので余裕を持って申し込みください。</div>
      </li>
    </ol>

    <div class="p-visit__information" data-anim="fade">
      <h3 class="title">お知らせ</h3>
      <p class="text">北海道ハイテクノロジー専門学校を卒業された方は、下記をご確認ください。</p>
      <p class="p-other__btn-box">
        <a href="https://www.hht.ac.jp/graduate/diploma/" target="_blank" rel="noopener noreferrer" class="c-btn c-btn--yellow c-btn--arrow">北海道ハイテクノロジー専門学校</a>
      </p>
    </div>
  </section>

  <section class="p-other__box">
    <h2 class="p-other__ttl" data-anim="fade-up">既卒生の求人について</h2>
    <p>本校卒業生(既卒生)の求人も、随時受付しております。</p>
    <p>既卒生求人情報は、別途ホームページを作成し、卒業生(既卒生)に情報を提供しております。</p>
    <div class="p-visit__banner-box" data-anim="fade-up">
      <a href="https://graduate.snm.ac.jp/hht/" target="_blank" rel="noopener">
        <img src="/asset/img/share/2025/banner-graduate-info.png" loading="lazy" width="700" height="324" alt="卒業生情報ページ">
      </a>
    </div>
  </section>

  <section class="p-other__box">
    <h2 class="p-other__ttl" data-anim="fade-up">滋慶学園グループ「J Career School」<span class="inline-block">について</span></h2>
    <p>【在校生も卒業生も学べる！】自宅で学べるオンライン型スクール<br>“プラスα”の学びを一生学び続けられる学習環境。次のキャリアへのステップアップを目指す、オンライン型スクールです。本校在校生は700以上の講座が受け放題となります。</p>
    <div class="p-visit__banner-box" data-anim="fade-up">
      <a href="https://el.jcschool.jp/pages/inquery-tos" target="_blank" rel="noopener noreferrer">
        <img src="/asset/img/visit_graduate/banner-jcareer01.jpg" loading="lazy" alt="滋慶学園グループが新たなオンラインスクールを開講 プラスの学びで新たなキャリアを手に入れる J Career School 求人情報・就職に役立つ講座の最新情報はこちら" width="670" height="301">
      </a>
    </div>
  </section>
</div>
